<div class="row" style="display: -webkit-box;">
    <div class="small-8 columns" style="padding:0rem 0rem 0rem 0rem;">
        <!--<div style="color:#4aa8dd; text-align:center; font-weight: bold; margin-bottom:-1.5rem;"><strong>Total Due</strong></div>
        <h1 style="text-align:center;"><strong>{{paymentDue | currency}}</strong></h1>-->
        <div class="payment-type" ng-show="!showSignaturePad">
            <div class="row">
                <div class="small-12 columns">
                    <label style="text-align:center;">
                        <h5><strong>Payment Type: {{paymentType}}</strong></h5>
                    </label>
                    <div style="text-align: center;  color: #aaa;  font-size: small;  font-weight: bold;  -webkit-font-smoothing: antialiased;  line-height: 1rem;  margin-top: -.5rem;" ng-show="storeCredit > 0.1">(Store Credit Available: {{storeCredit | currency}})</div>
                    <div class="payment-container">
                        <ul>
                            <div class="small-4 columns" style="padding:0rem; padding-right: .5rem; padding-bottom:1rem; line-height: 1rem;" ng-show="allowCreditCard">
                                <li>
                                    <input type="radio" name="selector" id="credit" ng-disabled="checkOutFinished()" ng-click="togglePaymentType('Credit')">
                                    <label ng-disabled="checkOutFinished()" for="credit">Card Type</label>
                                </li>
                            </div>
                            <div class="small-4 columns" style="padding:0rem;  padding-left: .5rem; padding-right: .5rem; padding-bottom:1rem; line-height: 1rem;">
                                <li>
                                    <input type="radio" name="selector" id="cash" ng-disabled="checkOutFinished()" ng-click="togglePaymentType('Cash')">
                                    <label ng-disabled="checkOutFinished()" for="cash">Cash</label>
                                </li>
                            </div>
                            <div class="small-4 columns" style="padding:0rem;  padding-left: .5rem; padding-bottom:1rem; line-height: 1rem;">
                                <li>
                                    <input type="radio" name="selector" id="store" ng-show="storeCredit > 0.1" ng-disabled="checkOutFinished()" ng-click="togglePaymentType('Store')">
                                    <label ng-disabled="checkOutFinished()" ng-show="storeCredit > 0.1" for="store">Store Credit</label>
                                </li>
                            </div>
                            <div ng-show="$root.storeProfile.gateway.type != 'cayan'" class="small-12 columns" style="padding:0rem; padding-bottom:1rem; line-height: 1rem;">
                                <li>
                                    <input type="radio" name="selector" id="externalpay" ng-disabled="checkOutFinished()" ng-click="togglePaymentType('External')">
                                    <label ng-disabled="checkOutFinished()" for="externalpay">External Pay</label>
                                </li>
                            </div>
                            <div ng-show="showOpenCashRegister" class="small-12 columns" style="padding:0rem; padding-bottom:1rem; line-height: 1rem;">
                                <li>
                                    <input type="radio" name="selector" id="openRegister" ng-disabled="!showOpenCashRegister" ng-click="openCashRegister()">
                                    <label ng-disabled="!showOpenCashRegister" for="openRegister">Open Register</label>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <div class="small-12 columns" style="padding: 0rem;  line-height: 1rem;" >
                        <div class="payment-container" ng-show="paymentType == 'Credit' && allowCreditCard">
                            <ul>
                                <li>
                                    <input type="checkbox" name="checkbox" ng-model="ccManualEntry" id="idManualEntry">
                                    <label for="idManualEntry"/>Manual Entry</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row collapse" ng-show="paymentType == 'Credit' || paymentType == 'Cash' || paymentType == 'Store' || paymentType == 'External'">
                <div class="small-9 columns">
                    <input type="text" ng-model="payAmount" placeholder="$0.00" autofocus>
                </div>
                <div class="small-3 columns">
                    <div ng-disabled="btn_pay_clicked || !hasToPay()" class="button postfix" id="pay-button" ng-click="btn_pay_clicked || processPayment()">Pay</div>
                </div>
            </div>
            <div class="row" ng-show="ccManualEntry==true">
                <div class="small-6 columns" ng-hide="paymentType == 'Cash' || paymentType == 'Store'" style="padding-bottom:1rem; padding-right: .5rem;">
                    <input type="number" style="margin:0rem;" placeholder="Credit Card #" ng-model="ccNumber"/>
                </div>
                <div class="small-3 columns" ng-hide="paymentType == 'Cash' || paymentType == 'Store'" style="padding-bottom:1rem; padding-left: .5rem;">
                    <input type="number" style="margin:0rem;" placeholder="MMYYYY" ng-model="ccExpDate"/>
                </div>
                <div class="small-3 columns" ng-hide="paymentType == 'Cash' || paymentType == 'Store'" style="padding-bottom:1rem; padding-left: 0rem;">
                    <input type="password" style="margin:0rem;" placeholder="CVV2" ng-model="ccCVV2"/>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns" style="text-transform:none; color:#DD4A4A; display:block; text-align:center; font-size:small; font-weight:bold; -webkit-font-smoothing:antialiased;">
                    {{paymentProcessingStatus}}
                </div>
            </div>
        </div>
        <div class="row" ng-show="showSignaturePad">
            <div class="small-12 columns">
                <div class="row">
                    <div class="small-12 columns" style="text-align: center" ng-hide="paymentType == 'Cash' || paymentType == 'Store'">
                        <label><h5><strong>Signature</strong></h5></label>
                        <div class="row">
                            <div class="small-12 columns" style="text-transform:none; color:#DD4A4A; display:block; text-align:center; font-size:small; font-weight:bold; -webkit-font-smoothing:antialiased;">
                                {{paymentProcessingStatus}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns" ng-hide="paymentType == 'Cash' || paymentType == 'Store'">
                        <canvas style="border: 1px solid #e5e5e5; background-color: white; margin-bottom: 10px;" width="508px" id="canvas" drawing></canvas>
                    </div>
                </div>
                <div class="row" style="text-align: center" ng-hide="paymentType == 'Cash' || paymentType == 'Store'">
                    <div class="small-12 columns">
                        <div class="small-6 columns" style="padding:0rem; padding-right:.5rem;">
                            <a class="button postfix secondary" button class="btn btn-warning" ng-click="clear()">Clear</abutton></a>
                        </div>
                        <div class="small-6 columns" style="padding:0rem; padding-left:.5rem;">
                            <div class="button postfix" class="btn btn-primary" ng-click="btn_done_clicked || commitTransaction()" ng-disabled="btn_done_clicked">Done</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="small-4 columns" style="background: white; padding: 1rem;  margin: -18px 0rem -17px 17px;">
        <div class="row">
            <div class="small-12 columns">
                <label style="text-align:center;"><h5><strong>Total Due:</strong></h5></label>
                <div style="text-align: center;  color: #aaa;  font-size: small;  font-weight: bold;  -webkit-font-smoothing: antialiased;  line-height: 1rem;  margin-top: -.5rem;">Sales #: {{salesId}}</div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <ul class="pricing-table">
                    <li class="price"><a ng-click="copyTotalValueToAmount()">{{paymentDue | currency}}</a></li>
                    <li class="bullet-item" ng-repeat="paystub in payments">{{paystub.amount | currency}}
                        {{paystub.method}}
                    </li>
                </ul>
                <a class="button postfix" style="padding-right:1rem;padding-left:1rem;" ng-click="layaway()" ng-show="!btn_pay_clicked && (payments.length > 0 && paymentDue > 0)">Layaway</a>
                <a class="button postfix" ng-show="!btn_pay_clicked && (payments.length == 0 || paymentDue <= 0)" ng-click="smartClose()">Close</a>
            </div>
            <div class="small-12 columns">
                <div class="row collapse">
                    <div class="small-9 columns">
                        <label class="prefix" style="border-top-width: 0px;border-left-width: 0px;border-bottom-width: 0px;">Print Receipt</label>
                    </div>
                    <div class="small-3 columns">
                        <div class="switch">
                            <input id="idPrintReceipt" type="checkbox" ng-model="printReceiptFlag">
                            <label for="idPrintReceipt"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="small-12 columns">
                <div class="row collapse">
                    <div class="small-9 columns">
                        <label class="prefix" style="border-top-width: 0px;border-left-width: 0px;border-bottom-width: 0px;">Email Receipt</label>
                    </div>
                    <div class="small-3 columns">
                        <div class="switch">
                            <input type="checkbox" ng-model="emailReceiptFlag" id="idEmailReceipt">
                            <label for="idEmailReceipt"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="small-12 columns">
                <input type="email" placeholder="Customer's Email Address" ng-model="customerEmail"/>
            </div>
        </div>
    </div>
</div>