<div align="middle">
    <div id="posLogo" class="company-logo"></div>

    <div class="dialog-text">
        <strong>{{dialogMsg}}</strong>
    </div>
    <div class="row">
        <div class="small-6 columns" style="padding:0rem; padding-right: .5rem;">
            <button class="button postfix" style="margin-bottom:0rem;" ng-click="decline()">Cancel</button>
        </div>
        <div class="small-6 columns" style="padding:0rem; padding-left: .5rem;">
            <button class="button postfix" style="margin-bottom:0rem;" ng-click="confirm()">Confirm</button>
        </div>
    </div>
</div>