<div align="middle">
    <div id="posLogo" class="company-logo"></div>

    <div class="dialog-text">
        <strong>Enter Store Manager Pin Code</strong><br>
        <span style="color: #DD4A4A; font-size: .75rem; font-weight: bold; -webkit-font-smoothing: antialiased;">{{error}}</span>
    </div>
    <div class="row">
        <div class="small-12 columns" style="padding:0rem;">
            <input type="password" placeholder="Enter Store Manager PIN" ng-model="pin" key-bind="switchAssociate()" key="13" autofocus="autofocus"/>
            <div class="keypad">
                <span class="1" ng-click="inputPinCode('1')" >1</span>
                <span class="2" ng-click="inputPinCode('2')" >2</span>
                <span class="3" ng-click="inputPinCode('3')" >3</span>
                <br>
                <span class="4" ng-click="inputPinCode('4')" >4</span>
                <span class="5" ng-click="inputPinCode('5')" >5</span>
                <span class="6" ng-click="inputPinCode('6')" >6</span>
                <br>
                <span class="7" ng-click="inputPinCode('7')" >7</span>
                <span class="8" ng-click="inputPinCode('8')" >8</span>
                <span class="9" ng-click="inputPinCode('9')" >9</span>
                <br/>
                <span class="b1" ng-click="closeThisDialog(0)" style="background-color: #bbb; color: white;">Cancel</span>
                <span class="0" ng-click="inputPinCode('0')" >0</span>
                <span class="b2" ng-click="inputPinCode('Back')" style="background-color: #006097; color: white;">Back</span>
            </div>
            <div class="keypad">
                <span class="enter" ng-click="switchAssociate()" style="background-color: #FF9741; color: white; display: inline-table; width: 400px; margin: 0px">Enter</span>
            </div>
        </div>
    </div>
    <div class="row"></div>
</div>