<!--<div align="middle">
        <h3 style="line-height:normal; padding: 0 0 1rem 0; margin:0;"><strong>Discount</strong></h3>
        <div class="small-12 columns">
            <div class="row">
                <div ng-repeat="product in $root.currentCheckout.items" class="row">
                    <div class="small-4 columns">
                        <input type="number" ng-model="product.discountRate" ng-change="updateTotalWithDC(product, 'rate')" placeholder="Dis %" style="width: 5em;padding: 0;margin: 0;height: 54px;text-align: center">
                    </div>
                    <div class="small-4 columns">
                        <strong>{{product.price - product.totalDiscount | currency}}</strong>
                    </div>
                    <div class="small-4 columns">
                        <input type="number" ng-model="product.discountTotal" ng-change="updateTotalWithDC(product, 'price')" placeholder="Dis $$" style="width: 5em;padding: 0;margin: 0;height: 54px;text-align: center">
                    </div>
                </div>
            </div>
        </div>
    </div>
<div ng-switch on="paymentType">
    <div class="row">
        <div class="small-6 columns" style="padding-right: .5rem;">
            <button class="button" ng-click="togglePaymentType('Credit')" style="width:100%">Credit</button>
        </div>
        <div class="small-6 columns" style="padding-left: .5rem;">
            <button class="button" ng-click="togglePaymentType('Cash')" style="width:100%">Cash</button>
        </div>
    </div>
</div>
<button class="button" ng-click="closeThisDialog(0)">Close</button>
</div>-->


<div class="row">
    <div class="small-12 columns">
        <div class="row">
            <div class="small-6 columns">
                <div class="keypad" ng-show="paymentType == 'Credit' || paymentType == 'Cash'">
                    <span class="1" ng-click="inputKeyNum('1')">1</span>
                    <span class="2" ng-click="inputKeyNum('2')">2</span>
                    <span class="3" ng-click="inputKeyNum('3')">3</span>
                    <br>
                    <span class="4" ng-click="inputKeyNum('4')">4</span>
                    <span class="5" ng-click="inputKeyNum('5')">5</span>
                    <span class="6" ng-click="inputKeyNum('6')">6</span>
                    <br>
                    <span class="7" ng-click="inputKeyNum('7')">7</span>
                    <span class="8" ng-click="inputKeyNum('8')">8</span>
                    <span class="9" ng-click="inputKeyNum('9')">9</span>
                    <br>
                    <span class="." ng-click="inputKeyNum('.')">.</span>
                    <span class="0" ng-click="inputKeyNum('0')">0</span>
                    <span class="del" ng-click="inputKeyNum('b')">⌫</span>
                    <br>
                </div>
            </div>

            <div class="small-6 columns">
                <div class="small-12 columns">
                    <input type="text" class="amount" ng-model="payAmount" placeholder="Amount">
                </div>
                <div class="button">Done</div>
            </div>
        </div>
    </div>
</div>