<div align="middle" style="background: white;">
    <img src="{{productImage}}" width="100%" height="100%" style="max-height: 450px; width: auto; padding: 1rem;"/>
</div>
<div class="row">
    <div class="small-12 columns" style="height: 1em"></div>
</div>

<div align="middle">
    <button class="button postfix" style="margin-bottom: 0rem;" ng-click="closeThisDialog(0)">Close</button>
</div>