<div align="middle">
    <div id="posLogo" class="company-logo"></div>

    <div ng-show="true">
        <svg>
            <polyline points="{{signatureData}}" stroke="black" fill="none" stroke-width="2"/>
        </svg>
    </div>
    <img src="{{productImage}}" width="100%" height="100%"/>
</div>
<div class="row">
    <div class="small-12 columns" style="height: 1em"></div>
</div>
<div class="row">
    <table class="orders-table">
        <thead>
        <tr>
            <th width="25%" style="text-align:center;">Order ID</th>
            <th width="25%" style="text-align:center;">History ID</th>
            <th width="50%" style="text-align:center;">Auth Code</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="text-align:center;">{{orderId}}</td>
            <td style="text-align:center;">{{historyId}}</td>
            <td style="text-align:center;">{{authCode}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div align="middle">
    <button class="button postfix" style="margin-bottom:0rem;" ng-click="closeThisDialog(0)">Close</button>
</div>