<div align="middle">
    <div id="posLogo" class="company-logo"></div>

    <div class="row">
        <strong>Associate Information</strong><br>

        <div class="small-12 columns" style="padding:0rem; padding-top:1rem;">
            <div class="small-6 columns" style="padding:0; padding-right:.5rem;"><input type="text" ng-model="selectedAssociate.firstName" placeholder="First Name"></div>
            <div class="small-6 columns" style="padding:0;padding-left:.5rem;"><input type="text" ng-model="selectedAssociate.lastName" placeholder="Last Name"></div>
            <div class="small-12 columns" style="padding:0;"><input type="text" ng-model="selectedAssociate.username" placeholder="Username"></div>
            <div ng-show="selectedAssociate.id < 1" class="small-12 columns" style="padding:0;"><input type="password" ng-model="selectedAssociate.password" placeholder="Password"></div>
            <div class="small-2 columns" style="padding:0; padding-right:.5rem;"><input type="text" ng-model="selectedAssociate.pin" placeholder="PIN"></div>
            <div class="small-4 columns" style="padding:0; padding-left:.5rem;padding-right:.5rem;"><input type="text" ng-model="selectedAssociate.maxDiscount" placeholder="Max Discount"></div>
            <div class="small-3 columns" style="padding:0; padding-right:.5rem;padding-left:.5rem;"><input type="text" ng-model="selectedAssociate.margin" placeholder="Margin"></div>
            <div class="small-3 columns" style="padding:0; padding-left:.5rem;"><input type="text" ng-model="selectedAssociate.salesGoal" placeholder="Sales Goal"></div>
            <div class="small-12 columns" style="padding:0;"><span style="color: red">{{errorMsg}}</span></div>
            <div class="small-6 columns" style="padding:0; padding-right:.5rem;"><a class="button postfix" ng-click="closeDialog()" style="margin-bottom:0rem; width: 100%">Cancel</a></div>
            <div class="small-6 columns" style="padding:0; padding-left: .5rem;"><a class="button postfix" ng-click="saveAssociate()" style="margin-bottom:0rem; width: 100%;">Save</a></div>
            <!--<span style="padding-top: 1rem; font-size:small; font-weight: bold;">{{message}}</span>-->
        </div>
    </div>
</div>