<div class="small-12 columns" style="margin-bottom:3rem;">
    <div class="small-12 columns" style="padding: 0rem; padding-right:0rem;">
        <div ng-show="order.lines.length > 0" class="small-12 columns" style="padding:0rem;"><h6><b>Order #{{order.header.id}}</b></h6></div>
        <div class="small-6 columns" style="padding: 0rem; padding-right:.5rem;">
            <table style="border:none;">
                <tr>
                    <td style="padding:0;">
                        <label class="inline" style="font-size: .75rem; line-height: 1.125rem; padding:0px; margin-bottom: 0rem;">
                            <b>Order Information</b><br>
                                    <b>Store:</b> {{order.header.store}}<br>
                                    <b>Status:</b> {{order.header.status}}<br>
                                    <b>Associate:</b> {{order.header.associate}}<br>
                                    <b>Date:</b> {{order.header.timestamp | date:'MM/dd/yyyy'}} at {{order.header.timestamp | date:'hh:mm a'}}<br>
                                    <b>Notes:</b> {{order.header.note}}
                        </label>
                    </td>
                </tr>
            </table>
        </div>
        <div class="small-6 columns" style="padding: 0rem; padding-left: .5rem;">
            <div ng-show="order.customer != null && order.customer.id > 0">
                <div ng-show="order.customer != null && order.customer.id > 0">
                    <table style="border:none;">
                        <tr>
                            <td style="width:100%; padding:0;">
                                <label class="inline" style="font-size: .75rem; text-align:left; line-height: 1.125rem; padding:0px; margin-bottom: 0rem;">
                                    <b>Customer Information</b><br>
                                        {{order.customer.firstName}} {{order.customer.lastName}}<br/>
                                        <span style="font-size:0.75rem; line-height:1.125rem;">{{order.customer.phoneNumber | tel}}<br>
                                        {{order.customer.line1}}<br>{{order.customer.city}},
                                        {{order.customer.state}} {{order.customer.zipCode}}<!--{{order.customer.country}}--><br/>
                                        <!--<b>Store Credit: <span>{{order.customer.storeCredit | currency}}</span></b>-->
                                        </span>
                                </label>
                            </td>
                            <td ng-show="customerWasLookedUp" style="width:20%; padding: 0;">
                                <div style="padding:0;" class="small-12 columns">
                                    <img class="button postfix" id="add-customer" src="/pos-des/svg/fi-plus-white.svg" width="17" height="17" style="float:right;" align="center"
                                     ng-click="attachOrderToCustomer(order.customer.id, order.header.id)">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div ng-show="order.customer == null || order.customer.id < 0" style="margin-bottom: 1rem;">
                <div class="small-8 columns" style="padding-left: 0; padding-right:0px;">
                    <input type="text" placeholder="Customer Phone #" ng-model="phoneNumber" key-bind="lookupCustomer(phoneNumber)" key="13">
                </div>
                <div class="small-4 columns" style="padding-right: 0; padding-left:0px;">
                    <a ng-click="lookupCustomer(phoneNumber)" class="button postfix">Search</a>
                </div>
            </div>
        </div>
        <table class="line-item-table" style="border: 1px solid #e5e5e5; margin-bottom: 1rem!important;">
            <thead>
            <tr>
                <th width="40%">Item</th>
                <th width="20%">Status</th>
                <th width="10%">Discount</th>
                <th width="10%">Tax</th>
                <th width="10%">City Tax</th>
                <th width="10%">Total</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="line in order.lines">
                <td><!--{{line.store}}--><span style="color:#4AA8DA">{{line.itemDescription}}</span><br><span style="color:#aaa">Price: {{line.unitPrice | currency}}</span><br>SKU: {{line.sku}}</td>
                <td nowrap>
                    <div ng-if="line.status == 'AWAITING_PICKUP' && line.storeId == $root.user.storeId">
                        <a class="postfix" ng-click="confirmCustomerPickup(line)">{{line.status}}</a>
                    </div>
                    <div ng-if="line.status != 'AWAITING_PICKUP' || line.storeId != $root.user.storeId">
                        {{line.status}}
                    </div>
                </td>
                <td>{{line.totalDiscount | currency}}</td>
                <td>{{line.tax | currency}}</td>
                <td>{{line.cityTax | currency}}</td>
                <td>{{line.lineSubtotalDue | currency}}</td>
            </tr>
            </tbody>
        </table>

        <div class="small-6 columns" style="padding:0rem; padding-left:.5rem; float:right;">
            <div class="panel callout" id="totals" style="margin:0rem; padding: 0rem; font-size: .75rem; line-height:1.75rem;">
                <div class="row">
                    <div class="small-6 columns">
                        Subtotal
                    </div>
                    <div class="small-6 columns" style="text-align:right">{{order.header.subtotal | currency}}</div>
                </div>
                <div class="row" style="border-top: 1px solid #E5E5E5">
                    <div class="small-6 columns">
                        Discount
                    </div>
                    <div class="small-6 columns" style="text-align:right">{{order.header.discount | currency}}</div>
                </div>
                <div class="row" style="border-top: 1px solid #E5E5E5">
                    <div class="small-6 columns">State Tax</div>
                    <div class="small-6 columns" style="text-align:right">{{order.header.tax | currency}}</div>
                </div>
                <div class="row" style="border-top: 1px solid #E5E5E5">
                    <div class="small-6 columns">City Tax</div>
                    <div class="small-6 columns" style="text-align:right">{{order.header.cityTax | currency}}</div>
                </div>
                <div class="row" style="border-top: 1px solid #E5E5E5">
                    <div class="small-6 columns">
                        Shipping
                    </div>
                    <div class="small-6 columns" style="text-align:right">{{order.header.shippingHandling | currency}}</div>
                </div>
                <div class="row" style="border-top: 1px solid #E5E5E5">
                    <div class="small-6 columns">
                        Total
                    </div>
                    <div class="small-6 columns" style="text-align:right">{{order.header.total | currency}}</div>
                </div>
                <div class="row" style="border-top: 1px solid #E5E5E5">
                    <div class="small-6 columns">
                        Payments Made
                    </div>
                    <div class="small-6 columns" style="text-align:right">{{order.header.paymentsMade | currency}}</div>
                </div>
                <div class="row" style="border-top: 1px solid #E5E5E5">
                    <div class="small-6 columns">
                        Total Due
                    </div>
                    <div class="small-6 columns" style="text-align:right">{{order.header.total - order.header.paymentsMade | currency}}</div>
                </div>
            </div>
            <div class="small-6 columns" style="padding:1rem 0.2rem 0rem;">
                <a class="button postfix" ng-click="printReceipt('sales')" style="width: 100%;margin-bottom:0rem;">Print Receipt</a>
            </div>
            <div class="small-6 columns" style="padding:1rem 0.2rem 0rem;">
                <a class="button postfix" ng-click="emailReceipt('sales')" style="width: 100%;margin-bottom:0rem;">Email Receipt</a>
            </div>
            <div class="small-12 columns" style="padding:1rem 0rem 0rem;" ng-show="isRecentOrder==true">
                <div ng-click="btnCancelClicked || undoTransaction(order.header.id)" ng-disabled="btnCancelClicked" style="margin-bottom:0rem;" class="button postfix" >Void Transaction</div>
            </div>
            <div class="small-12 columns" style="padding:1rem 0rem 0rem;" ng-show="order.header.status == 'PARTIAL_PAYMENT'">
                <a ng-click="payRemainingOnSale()" style="margin-bottom:0rem;" class="button postfix" >Pay</a>
            </div>
            <div class="small-12 columns" style="padding:1rem 0rem 0rem;" ng-show="order.header.status == 'PARTIAL_PAYMENT'">
                <a ng-click="cancelSaleAsStoreCredit()" style="margin-bottom:0rem;" class="button postfix" >Cancel</a>
            </div>

            <div class="small-12 columns" style="padding:1rem 0rem 0rem;" ng-show="order.header.status == 'NEW'">
                <a ng-click="continueTrx(order.header)" style="margin-bottom:0rem;" class="button postfix" >Continue</a>&nbsp;
            </div>
            <div class="small-12 columns" style="padding:1rem 0rem 0rem;" ng-show="order.header.status == 'NEW'">
                <a ng-click="deleteSales()" style="margin-bottom:0rem;" class="button postfix" >Cancel</a>
            </div>
        </div>
    </div>
</div>