<div ng-show="orders.length > 0" style="padding: 0 1rem;">
    <h6><strong>Recent Orders</strong></h6>
    <table class="orders-table">
        <thead>
        <tr>
            <th width="10%" style="text-align:center;">Order #</th>
            <th width="25%">Date/Time</th>
            <th width="30%">Customer</th>
            <th width="20%">Status</th>
            <th width="15%" style="text-align:right;">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="order in orders | startFrom:currentPage*pageSize | limitTo:pageSize">
            <td style="text-align:center;">
                <a class="order-number" ng-click="displayOrderDetail(order.id)">{{order.id}}</a>
            </td>
            <td >{{order.timestamp | date:'MM/dd/yyyy'}} at {{order.timestamp | date:'hh:mm a'}}</td>
            <td>{{order.soldTo}}</td>
            <td>{{order.status}}</td>
            <!--<td>{{order.store}}</td>
            <td>{{order.subtotal | currency}}</td>
            <td>({{order.discount | currency}})</td>-->
            <td style="text-align:right;">{{order.total | currency}}</td>
        </tr>
        </tbody>
    </table>
    <div class="small-12 columns" style="padding: 0rem;">
        <ul class="pagination" role="menubar" aria-label="Pagination">
            <li class="arrow">
                <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                    &laquo; Previous
                </button>
            </li>
            <li class="arrow">
                <button ng-disabled="currentPage >= orders.length / pageSize - 1" ng-click="currentPage=currentPage+1">
                    Next &raquo;
                </button>
            </li>
        </ul>
    </div>
</div>
