<div class="small-12 columns">
    <div class="small-12 columns" style="padding: 0rem;">
        <div class="small-12 columns" style="padding: 0rem;">
            <div class="orders-header"><h6><strong>Search Orders</strong></h6></div>
            &nbsp;
            <div class="orders-header" ng-show="customer != null && customer.id > 0"><h6><strong><a ng-click="viewCustomerDetail(customer.id)"><span style="color:#253a48;">-</span>
                {{customer.firstName}} {{customer.lastName}}</a></strong></h6></div>
        </div>
        <div class="row" style="padding: 0rem;">
            <div class="small-3 columns" style="padding:0rem; padding-right: .5rem;">
                <input type="text" id="orderNumber" placeholder="Order #" ng-model="orderNumber" key-bind="lookupOrder(orderNumber)" key="13" class="ng-valid ng-dirty ng-valid-number ng-touched">
            </div>
            <div class="small-3 columns" style="padding:0rem; padding-left: .5rem; padding-right:.5rem;">
                <input type="text" id="itemNumber" placeholder="Item SKU" ng-model="itemNumber" key-bind="lookupByItemSKU(itemNumber)" key="13" class="ng-pristine ng-valid ng-touched">
            </div>
            <div class="small-3 columns" style="padding:0rem; padding-left: .5rem; padding-right:.5rem;">
                <input type="text" ng-model="phoneNumber" placeholder="Customer Phone" key-bind="lookupCustomer(phoneNumber)" key="13" class="ng-pristine ng-valid ng-touched">
            </div>
            <div class="small-3 columns" style="padding:0rem; padding-left: .5rem;">
                <a ng-click="searchOrders()" class="button postfix">Search</a>
            </div>
        </div>

        <div class="row" style="padding: 0rem;">
            <div class="small-9 columns" style="padding:0rem;">
                <div class="small-6 columns" style="padding:0rem; padding-right:.5rem;">
                    <label style="font-size: .75rem; font-weight:bold;">Start Date</label>
                    <input type="date" ng-model="startDate" placeholder="Start Date">
                </div>
                <div class="small-6 columns" style="padding:0rem; padding-left:.5rem; padding-right:.5rem;">
                    <label style="font-size: .75rem; font-weight:bold;">End Date</label>
                    <input type="date" ng-model="endDate" placeholder="End Date">
                </div>
            </div>
            <div class="small-3 columns" style="padding:0rem; padding-left:.5rem;">
                <label style="font-size: .75rem; font-weight:bold;">&nbsp;</label>
                <a ng-click="lookupByDate(startDate, endDate)" class="button postfix">Search</a>
            </div>
        </div>
    </div>

    <div class="small-12 columns" style="padding: 0rem;">
        <table class="orders-table" ng-show="orders.length > 0">
            <thead>
            <tr>
                <th width="10%" style="text-align:center;">Order #</th>
                <th width="25%">Date/Time</th>
                <th width="30%">Customer</th>
                <th width="20%">Status</th>
                <th width="15%" style="text-align:right;">Total</th>
            </tr>
            </thead>
            <tr ng-repeat="order in orders | startFrom:currentPage*pageSize | limitTo:pageSize">
                <td style="text-align:center;"><a class="order-number" ng-click="displayOrderDetail(order.id)">{{order.id}}</a></td>
                <td>{{order.timestamp | date:'MM/dd/yyyy'}} at {{order.timestamp | date:'hh:mm a'}}</td>
                <td>{{order.soldTo}}</td>
                <td>{{order.status}}</td>
                <td style="text-align:right;">{{order.total | currency}}</td>
            </tr>
        </table>
    </div>
    <div class="small-12 columns" style="padding: 0rem;" ng-show="orders.length > 0">
        <ul class="pagination" role="menubar" aria-label="Pagination">
            <li class="arrow">
                <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                    &laquo; Previous
                </button>
            </li>
            <li class="arrow">
                <button ng-disabled="currentPage >= orders.length / pageSize - 1" ng-click="currentPage=currentPage+1">
                    Next &raquo;
                </button>
            </li>
        </ul>
    </div>
</div>
