<div class="small-12 columns">
    <h6><b>Returned Items</b></h6>
    <div ng-show="order.returnedLines.length > 0">
        <div class="small-12 columns" style="padding:0rem;margin:1rem 0rem;">
            <table class="line-item-table" id="returned" style="padding:0rem; border: 1px solid #e5e5e5;">
                <thead>
                <tr>
                    <th width="15%">Return #</th>
                    <th width="25%">Date</th>
                    <th width="10%">SKU</th>
                    <!--<th>Disc</th>-->
                    <!--<th>Tax</th>-->
                    <th width="15%">Total</th>
                    <th width="15%">Associate</th>
                    <th width="20%">Notes</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat-start="return in order.returnedLines">
                    <td>{{return.store}}-{{return.id}}</a></td>
                    <td>{{return.timestamp | date:'MM/dd/yyyy'}} at {{return.timestamp | date:'hh:mm a'}}</td>
                    <td>{{return.sku}}</a></td>
                    <!--<td>{{return.discount | currency}}</td>-->
                    <!--<td>{{return.tax | currency}}</td>-->
                    <td>{{return.total | currency}}</td>
                    <td>{{return.associate}}</td>
                    <td class="notes">{{return.note}}</td>
                <tr ng-repeat-end>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="small-6 columns" style="padding:1rem 0.2rem 0rem;" ng-repeat="trx in order.returnedTransactions">
            <a class="button postfix" ng-click="printReceipt(trx.type, trx.txNumber)" style="width: 100%;margin-bottom:0rem;">Print {{trx.type}} Receipt </a>
        </div>
    </div>
</div>