<div class="small-12 columns">
    <div class="small-12 columns" style="padding:0rem;"><h6><b>Payments</b></h6></div>
    <table class="line-item-table" style="padding:0rem; border: 1px solid #e5e5e5;">
        <thead>
        <tr>
            <th width="15%">Payment #</th>
            <th width="25%">Date</th>
            <th width="10%">Type</th>
            <!--<th nowrap>Card</th>-->
            <!--<th style="text-align: center;width:75px">Change</th>-->
            <!--<th>Disc</th>-->
            <!--<th>Tax</th>-->
            <th width="15%">Total</th>
            <th width="15%">Associate</th>
            <th width="20%">Detail</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="payment in payments">
            <td>{{payment.store}}-{{payment.id}}</td>
            <td nowrap>{{payment.timestamp | date:'MM/dd/yyyy'}} at {{payment.timestamp | date:'hh:mm a'}}</td>
            <td>{{payment.type}}</td>
            <!--<td>{{payment.cardType}}</td>-->
            <!--<td>{{payment.changes | currency}}</td>-->
            <!--<td>{{payment.discount | currency}}</td>-->
            <!--<td>{{payment.tax | currency}}</td>-->
            <td>{{payment.amount | currency}}</td>
            <td>{{payment.associate}}</td>
            <td><div class="detail" ng-show="payment.signature.length > 0"><a ng-click="showSignature(payment)">Show</a></div></td>
        </tr>
        </tbody>
    </table>
</div>
