<div ng-show="items.length > 0" class="row" style="display: -webkit-box;">
    <div class="small-8 columns" style="padding:0rem 0rem 0rem 0rem;">
        <div class="small-12 columns" style="padding:0rem;">
            <label style="text-align:center;"><h5><strong>Shipping Options</strong></h5></label>
            <div class="row">
                <div class="small-12 columns" ng-show="rates.length > 0" style="height: 2rem;"><label><strong>Ship Vendor:</strong> {{shipVendor}}</label>
                </div>
                <div class="small-12 columns" ng-show="rates.length > 0" style="height: 2rem;"><label><strong>Ship Via:</strong> {{shipVia}}</label>
                </div>
            </div>
            <div class="small-6 columns" style="padding:0rem;" ng-show="shipVendor.length > 1">
                <a ng-click="acceptShipVia()" style="width: 100%" class="button postfix">Apply Shipping Method</a>
            </div>
            <div class="small-12 columns" style="padding:0rem;"ng-show="rates.length > 0">
                <table class="orders-table">
                    <thead>
                    <tr>
                        <th style="width:50%;">Ship Via</th>
                        <th style="width:20%;">Cost</th>
                        <th style="width:30%;">Delivery Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="rate in rates | startFrom:currentPage*pageSize | limitTo:pageSize" ng-click="chooseShippingService(rate)">
                        <td><a ng-click="chooseShippingService(rate)">{{rate.shipVia}}</a></td>
                        <td>{{rate.cost | currency}}</td>
                        <td><span ng-show="rate.guaranteedDaysToDeliver > 0">{{rate.guaranteedDaysToDeliver}}</span><span ng-show="rate.scheduledDeliveryTime"> ({{rate.scheduledDeliveryTime}})</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" ng-show="rates.length > 0">
                <div class="small-12 columns">
                    <ul class="pagination" role="menubar" aria-label="Pagination">
                        <li class="arrow">
                            <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                                &laquo; Previous
                            </button>
                        </li>
                        <li class="arrow">
                            <button ng-disabled="currentPage >= rates.length / pageSize - 1" ng-click="currentPage=currentPage+1">
                                Next &raquo;
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="small-4 columns" style="background: white; padding: 1rem;  margin: -18px 0rem -17px 17px;">
        <div class="row">
            <div class="small-12 columns">
                <label style="text-align:center;"><h5><strong>Item Information</strong></h5></label>
                <div class="row">
                    <div class="small-6 columns"><label style="line-height: 1.25rem;  margin-bottom: -.5rem;"><strong>Shipping Box</strong></label>
                        <span style="color:#aaa; font-weight: bold;"><small>Dimensions</small></span></div>
                    <div class="small-6 columns"><select ng-model="shippingBox" ng-options="box.name for box in boxes" ng-change="populateBoxDimension(shippingBox)"></select></div>
                </div>
                <div class="row">
                    <div class="small-6 columns"><label style="line-height: 1.25rem;  margin-bottom: -.5rem;"><strong>Item Weight</strong></label>
                        <span style="color:#aaa; font-weight: bold;"><small>(lbs)</small></span></div>
                    <div class="small-6 columns" style="margin-bottom:1rem;"><input type="number" ng-model="contentWeight" style="margin-bottom: 0px;" ng-change="calculateTotalWeight()"></div>
                </div>
                <div class="row">
                    <div class="small-6 columns"><label style="line-height: 1.25rem;  margin-bottom: -.5rem;"><strong>Width</strong></label>
                        <span style="color:#aaa; font-weight: bold;"><small>(in)</small></span></div>
                    <div class="small-6 columns" style="margin-bottom:1rem;"><input type="number" ng-model="width" style="margin-bottom: 0px;"></div>
                </div>
                <div class="row">
                    <div class="small-6 columns"><label style="line-height: 1.25rem;  margin-bottom: -.5rem;"><strong>Height</strong></label>
                        <span style="color:#aaa; font-weight: bold;"><small>(in)</small></span></div>
                    <div class="small-6 columns" style="margin-bottom:1rem;"><input type="number" ng-model="height" style="margin-bottom: 0px;"></div>
                </div>
                <div class="row">
                    <div class="small-6 columns"><label style="line-height: 1.25rem;  margin-bottom: -.5rem;"><strong>Length</strong></label>
                        <span style="color:#aaa; font-weight: bold;"><small>(in)</small></span></div>
                    <div class="small-6 columns" style="margin-bottom:1rem;"><input type="number" ng-model="length" style="margin-bottom: 0px;"></div>
                </div>
                <div class="row">
                    <div class="small-6 columns"><label style="line-height: 1.25rem;  margin-bottom: -.5rem;"><strong>Box Weight</strong></label>
                        <span style="color:#aaa; font-weight: bold;"><small>(lbs)</small></span></div>
                    <div class="small-6 columns" style="margin-bottom:1rem;"><input type="number" ng-model="boxWeight" style="margin-bottom: 0px;" ng-change="calculateTotalWeight()"></div>
                </div>
                <div class="row">
                    <div class="small-6 columns"><label style="line-height: 1.25rem;  margin-bottom: -.5rem;"><strong>Total Weight</strong></label>
                        <span style="color:#aaa; font-weight: bold;"><small>(lbs)</small></span></div>
                    <div class="small-6 columns" style="margin-bottom:1rem;"><input type="number" ng-model="totalWeight" style="margin-bottom: 0px;"></div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <div class="button postfix" ng-click="performRateShopping()" style="width: 100%">Rate Shop</div>
                    </div>
                    <div class="small-12 columns">
                        <div class="button postfix" ng-click="closeThisDialog(0)" style="width: 100%">Close</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
