<div ng-show="items.length > 0">
    <div class="small-12 columns" style="padding:0rem;">
        <table class="orders-table">
            <thead>
            <tr>
                <th width="25%" style="text-align: center">Item SKU</th>
                <th width="25%" style="text-align: center">Req. Qty</th>
                <th width="25%" style="text-align: center">Delivery Qty</th>
                <th width="25%" style="text-align: center">Weight</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items | startFrom:currentPage*pageSize | limitTo:pageSize">
                <td style="padding: 0px;text-align: center">{{item.sku}}</td>
                <td style="padding: 0px;text-align: center">{{item.quantity}}</td>
                <td style="padding: 0px;"><input type="number" ng-model="item.deliveryQty" ng-change="calculateLineWeight(item)" style="width: 3.5rem!important; height:auto;  text-align: center;  font-size: .75rem; float: none;  margin: .5rem auto!important;"></td>
                <td style="padding: 0px;"><input type="number" ng-model="item.totalItemWeight" style="width: 3.5rem!important; height:auto; text-align: center;  font-size: .75rem; float: none;  margin: .5rem auto!important;"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="small-12 columns" style="padding:0rem;">
        <ul class="pagination" role="menubar" aria-label="Pagination">
            <li class="arrow">
                <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                    &laquo; Previous
                </button>
            </li>
            <li class="arrow">
                <button ng-disabled="currentPage >= orders.length / pageSize - 1" ng-click="currentPage=currentPage+1">
                    Next &raquo;
                </button>
            </li>
        </ul>
    </div>
    <div class="small-12 columns" style="padding:0rem;">
        <div class="button postfix" ng-click="prepareStoreDelivery()" style="width: 100%; margin-bottom:0rem;">Prepare</div>
    </div>
</div>