<div ng-show="orders.length > 0" style="padding: 0 1rem;">
    <h6><strong>Pending Orders</strong></h6>
    <table class="orders-table">
        <thead>
        <tr>
            <th width="10%" style="text-align:center;">Order #</th>
            <th width="25%">Date/Time</th>
            <th width="30%">Customer</th>
            <th width="15%">Total</th>
            <th width="20%" style="text-align:center;">Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="order in orders | startFrom:currentPage*pageSize | limitTo:pageSize">
            <td style="text-align:center;">
                <a class="order-number" ng-click="continueTrx(order)">{{order.id}}</a>
            </td>
            <td >{{order.timestamp | date:'MM/dd/yyyy'}} at {{order.timestamp | date:'hh:mm a'}}</td>
            <td>{{order.soldTo}}</td>
            <td>{{order.total | currency}}</td>
            <td style="width:20%; padding: 0;">
                <img class="button postfix" id="removeStaffEmail" src="/pos-des/svg/fi-minus-white.svg" width="17" height="17" style="float:right;" align="center"
                     ng-click="removePendingOrder(order)">
            </td>
        </tr>
        </tbody>
    </table>
    <div class="small-12 columns" style="padding: 0rem;">
        <ul class="pagination" role="menubar" aria-label="Pagination">
            <li class="arrow">
                <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                    &laquo; Previous
                </button>
            </li>
            <li class="arrow">
                <button ng-disabled="currentPage >= orders.length / pageSize - 1" ng-click="currentPage=currentPage+1">
                    Next &raquo;
                </button>
            </li>
        </ul>
    </div>
</div>