<div class="small-12 columns">
    <h6><b>Eligible Items</b></h6>
    <div ng-show="order.lines.length > 0">
        <div class="small-12 columns" style="padding: 0rem;">
            <table class="line-item-table" style="border: 1px solid #e5e5e5; margin: 0rem 0rem 1rem 0rem!important;">
                <thead>
                <tr>
                    <th width="7%"></th>
                    <th width="48%">Product</th>
                    <th width="30%">Notes</th>
                    <th width="15%" style="text-align:right;">Total</th>
                </tr>
                </thead>
                <tbody>
                <tr class="returns" ng-repeat="line in order.lines" >
                    <td style="text-align:center;">
                        <div class="switch">
                            <input id="{{line.id}}" type="checkbox" ng-click="checkReturn($event,line)" ng-init="line.returnQty=0">
                            <label for="{{line.id}}"/>
                        </div>
                    </td>
                    <td><span style="color:#4AA8DA">{{line.itemDescription}}</span><br><span style="color:#aaa">Purchase Price: {{line.lineSubtotalDue | currency}}</span><br>SKU: {{line.sku}}</td>
                    <td><input style="margin: 0px;" type="text" ng-model="line.note" placeholder="Notes"></td>
                    <td style="text-align:right;">{{line.lineSubtotalDue / line.quantity * line.returnQty | currency}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="small-6 columns" style="padding:0rem; float:right;">
        <div ng-show="order.lines.length > 0">
            <div class="small-12 columns" style="padding:0rem; padding-bottom: 1rem;">
                <div class="row collapse" style="margin-bottom: 0rem;">
                    <div class="small-9 columns" style="padding:0rem .5rem 0rem 0rem;">
                        <label class="prefix" style="border-top-width: 0px;border-left-width: 0px;border-bottom-width: 0px;">Email Receipt</label>
                    </div>
                    <div class="small-3 columns" style="padding:0rem 0rem 0rem .5rem">
                        <div class="switch">
                            <input type="checkbox" ng-model="emailReceiptFlag" id="idEmailReceipt">
                            <label for="idEmailReceipt"/>
                        </div>
                    </div>
                </div>
                <div class="row collapse" style="margin-bottom: 0rem;">
                    <div class="small-9 columns" style="padding:0rem .5rem 0rem 0rem;">
                        <label class="prefix" style="border-top-width: 0px;border-left-width: 0px;border-bottom-width: 0px;">Print Receipt</label>
                    </div>
                    <div class="small-3 columns" style="padding:0rem 0rem 0rem .5rem">
                        <div class="switch">
                            <input id="idPrintReceipt" type="checkbox" ng-model="printReceiptFlag">
                            <label for="idPrintReceipt"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-12 columns" style="padding:0rem;">
            <div ng-show="order.lines.length > 0 && eligibleForReturn">
                <div class="small-12 columns" style="padding:0rem .5rem 0rem 0rem;">
                    <a ng-click="commitSalesLinesReturn(false)" style="width: 100%" class="button postfix">Store Credit</a>
                </div>
            </div>
        </div>
        <div class="small-12 columns" style="padding:0rem;">
            <div ng-show="order.lines.length > 0 && eligibleForReturn">
                <div class="small-12 columns" style="padding:0rem .5rem 0rem 0rem;">
                    <a ng-click="commitSalesLinesReturn(true)" style="width: 100%" class="button postfix">Exchange</a>
                </div>
            </div>
        </div>
        <div class="small-12 columns" style="padding:0rem;">
            <div ng-show="order.lines.length > 0 && eligibleForRefund">
                <div class="small-12 columns" style="padding:0rem .5rem 0rem 0rem;">
                    <a ng-click="commitSalesLinesRefund()" style="width: 100%" class="button postfix">Refund</a>
                </div>
            </div>
        </div>
    </div>
</div>
