<div class="small-12 columns" style="padding:0rem 1rem;">
    <h6><strong>Deliver to Store</strong></h6>
</div>
<tabs id="deliver-tabs">
    <pane
            ng-repeat="pane in panes | filter:{includedInTabView:true}"
            tab-title="{{pane.name}}"
            controller="{{pane.controller}}"
            template="{{pane.template}}">
    </pane>
</tabs>