<div class="row" style="display: -webkit-box;">
    <div class="small-8 columns" style="padding:0rem 0rem 0rem 0rem;">
        <div class="payment-type">
            <div class="row">
                <div class="small-12 columns">
                    <label style="text-align:center;">
                        <h5><strong>Refund</strong></h5>
                    </label>
                    <div style="text-align: center;  color: #aaa;  font-size: small;  font-weight: bold;  -webkit-font-smoothing: antialiased;  line-height: 1rem;  margin-top: -.5rem;" ng-show="storeCredit > 0.1">(Store Credit Available: {{storeCredit | currency}})</div>
                    <div class="payment-container">
                        <ul ng-repeat="refundable in paymentRefund.refundables">
                            <ul>
                                <li>
                                    <label>{{refundable.label}} : {{refundable.amount | currency}}</label>
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row collapse">
                <div class="small-2 columns">&nbsp;
                </div>
                <div class="small-8 columns">
                    <div ng-disabled="btn_refund_clicked" class="button postfix" id="pay-button" ng-click="btn_refund_clicked || processRefund()">Refund</div>
                </div>
                <div class="small-2 columns">&nbsp;
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns" style="text-transform:none; color:#DD4A4A; display:block; text-align:center; font-size:small; font-weight:bold; -webkit-font-smoothing:antialiased;">
                    {{paymentProcessingStatus}}
                </div>
            </div>
        </div>
    </div>
    <div class="small-4 columns" style="background: white; padding: 1rem;  margin: -18px 0rem -17px 17px;">
        <div class="row">
            <div class="small-12 columns">
                <label style="text-align:center;"><h5><strong>Total Refund Due</strong></h5></label>
                <div style="text-align: center;  color: #aaa;  font-size: small;  font-weight: bold;  -webkit-font-smoothing: antialiased;  line-height: 1rem;  margin-top: -.5rem;">Sales #: {{salesId}}</div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <ul class="pricing-table">
                    <li class="price">{{refundDue | currency}}</li>
                </ul>
<!--
                <a class="button postfix" ng-show="paymentRefund.refundDue <= 0" ng-click="smartClose()">Close</a>
-->
                <a class="button postfix" ng-click="smartClose()">Close</a>
            </div>
            <div class="small-12 columns">
                <div class="row collapse">
                    <div class="small-9 columns">
                        <label class="prefix" style="border-top-width: 0px;border-left-width: 0px;border-bottom-width: 0px;">Print Receipt</label>
                    </div>
                    <div class="small-3 columns">
                        <div class="switch">
                            <input id="idPrintReceipt" type="checkbox" ng-model="printReceiptFlag">
                            <label for="idPrintReceipt"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="small-12 columns">
                <div class="row collapse">
                    <div class="small-9 columns">
                        <label class="prefix" style="border-top-width: 0px;border-left-width: 0px;border-bottom-width: 0px;">Email Receipt</label>
                    </div>
                    <div class="small-3 columns">
                        <div class="switch">
                            <input type="checkbox" ng-model="emailReceiptFlag" id="idEmailReceipt">
                            <label for="idEmailReceipt"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="small-12 columns">
                <input type="email" placeholder="Customer's Email Address" ng-model="customerEmail"/>
            </div>
        </div>
    </div>
</div>