<div class="row">
    <div class="small-12 columns" style="padding: 0rem;">
        <div class="row">
            <h3 style="text-align: center; line-height: normal; font-weight: bold;">Remove Customer</h3>
            <div class="small-12 columns" style="text-align:center;">
                Are you sure you want to remove this custmer?
            </div>
            <div class="small-6 columns">
                <a class="button" style="margin:1rem 0rem 0rem 0rem; width: 100%;">Cancel</a>
            </div>
            <div class="small-6 columns">
                <a class="button" style="margin:1rem 0rem 0rem 0rem; width: 100%;">Remove</a>
            </div>
        </div>
    </div>
</div>