<div class="small-12 columns">
    <h6><strong>Payment Gateway</strong></h6>
</div>
<div class="small-12 columns" style="padding:0rem 1rem;">
    <div class="row">
        <div class="small-12 columns" style="padding:0rem;">
            <select ng-model="storeProfile.gateway.type">
                <option value="undefined">Please select one</option>
                <option value="elavon">Elavon</option>
                <option value="worldpay">World Pay</option>
                <option value="cayan">Cayan</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns" style="padding:0rem;">
            <input type="text" ng-model="storeProfile.gateway.companyName" placeholder="Company Name"/>
        </div>
    </div>
    <div class="row">
        <div class="small-4 columns" style="padding:0rem; padding-right:.5rem;">
            <input type="text" ng-model="storeProfile.gateway.merchantId" placeholder="Merchant ID"/>
        </div>
        <div class="small-4 columns" style="padding:0rem; padding-right:.5rem;">
            <input type="text" ng-model="storeProfile.gateway.accountId" placeholder="Account ID"/>
        </div>
        <div class="small-4 columns" style="padding:0rem; padding-left:.5rem;">
            <input type="text" ng-model="storeProfile.gateway.accountPin" placeholder="Account PIN"/>
        </div>
    </div>
    <div class="row">
        <div class="small-10 columns" style="padding:0rem;" ng-show="storeProfile.gateway.type == 'cayan'">
            <input type="text" ng-model="storeProfile.gateway.cedIp" placeholder="CED IP"/>
        </div>
        <div class="small-2 columns" style="padding:0rem;" ng-show="storeProfile.gateway.type == 'cayan'">
            <a class="button postfix" ng-click="checkDeviceStatus()" style="width: 100%">Check</a>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns" style="padding:0rem;">
            <span style="color:#ed6454; font-size:small; font-weight: bold;">{{message}}</span>
        </div>
    </div>
    <div class="small-3 columns" style="padding:0rem;">
        <div class="small-12 columns" style="padding:0rem;">
            <a class="button postfix" ng-click="updateStoreProfile()" style="width: 100%">Save</a>
        </div>
    </div>
</div>