<div class="small-12 columns" ng-show="$root.user.admin">
    <h6 style="float:left;"><strong>Associates</strong></h6>
    <a ng-click="openAssociate(null)"
       style="text-align:right; float: right;display: inline;font-size: 0.8125rem;font-weight: bold;-webkit-font-smoothing: antialiased;margin-top: 0.85rem;position: inherit;z-index: 2;">Add
        Associate</a>
    <table class="line-item-table" id="associates" style="border:1px solid #e5e5e5; margin:.5rem 0rem!important;">
        <thead>
        <tr>
            <th colspan="2">Associate</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="associate in storeAssociates" ng-swipe-left="removeSalesAssociate(associate)" ng-swipe-right="removeSalesAssociate(associate)">
            <td><a ng-click="openAssociate(associate)" style="font-size:.875rem; padding-top:.75rem; padding-bottom:.75rem;">{{associate.firstName}}
                {{associate.lastName}}</a><br>
                <span ng-click="openAssociate(associate)" style="font-size:.75rem;">{{associate.username}}</span>
            </td>
            <td style="float:right;margin: .5rem 0rem;">
                <img class="button postfix" src="/pos-des/svg/fi-forward-icon-white.svg" width="17" height="17"
                     style="width: 25px;height: 25px;border-radius: 50%;margin: auto 0;" ng-click="openAssociate(associate)">
            </td>
        </tr>
        </tbody>
    </table>
    <center><span style="font-size:small; font-weight: bold; -webkit-font-smoothing:antialiased; color:#aaa;">Swipe row to delete associate</span><br>
        <span style="font-size:small; font-weight: bold; color:#ed6454;">{{message}}</span></center>
</div>