<div class="small-12 columns">
    <h6><strong>Softek IVU LOTO</strong></h6>
</div>
<div class="small-12 columns" style="padding:0rem 1rem;">
    <div class="row">
        <div class="small-4 columns" style="padding:0rem; padding-right:.5rem;">
            <input type="text" ng-model="storeProfile.ivuLotoProfile.merchantId" placeholder="Merchant ID"/>
        </div>
        <div class="small-4 columns" style="padding:0rem; padding-right:.5rem;">
            <input type="text" ng-model="storeProfile.ivuLotoProfile.terminalId" placeholder="Terminal ID"/>
        </div>
        <div class="small-4 columns" style="padding:0rem; padding-left:.5rem;">
            <input type="text" ng-model="storeProfile.ivuLotoProfile.terminalPassword" placeholder="Terminal Password"/>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns" style="padding:0rem;">
            <span style="color:#ed6454; font-size:small; font-weight: bold;">{{message}}</span>
        </div>
    </div>
    <div class="small-3 columns" style="padding:0rem;">
        <div class="small-12 columns" style="padding:0rem;">
            <a class="button postfix" ng-click="updateStoreProfile()" style="width: 100%">Save</a>
        </div>
    </div>
</div>