<div class="small-12 columns">
    <div class="small-12 columns" style="padding:0rem;">
        <div class="small-9 columns" style="padding:0rem;">
            <div class="small-8 columns" style="padding:0rem;">
                <h6><strong>Store</strong></h6>
            </div>
            <div class="small-4 columns" style="padding:0rem;color:#FF9741;">
                <strong>{{message}}</strong>
            </div>
        </div>
        <div class="small-3 columns" style="padding:0rem;">
            <a class="button postfix" ng-click="updateStoreProfile()" style="width: 100%">Save</a>
        </div>
        <div class="small-6 columns" style="padding:0rem 0rem 0rem 1rem;">
            <div class="small-10 columns" style="padding:0rem;">
                <label class="prefix" style="border-top-width: 0px;border-left-width: 0px;border-bottom-width: 0px;">Use Store Receipt Logo</label>
            </div>
            <div class="small-2 columns" style="padding:0rem;">
                <div class="switch">
                    <input type="checkbox" ng-model="storeProfile.useStoreReceiptLogo" id="useStoreReceiptLogo">
                    <label for="useStoreReceiptLogo"/>
                </div>
            </div>
        </div>
        <div class="small-6 columns" style="padding:0rem 0rem 0rem 1rem;">
            <div class="small-10 columns" style="padding:0rem;">
                <label class="prefix" style="border-top-width: 0px;border-left-width: 0px;border-bottom-width: 0px;">Print Receipt (Default)</label>
            </div>
            <div class="small-2 columns" style="padding:0rem;">
                <div class="switch">
                    <input type="checkbox" ng-model="storeProfile.printReceipt" id="printReceipt">
                    <label for="printReceipt"/>
                </div>
            </div>
        </div>
        <div class="small-6 columns" style="padding:0rem 0rem 0rem 1rem;">
            <div class="small-10 columns" style="padding:0rem;">
                <label class="prefix" style="border-top-width: 0px;border-left-width: 0px;border-bottom-width: 0px;">Allow Refund</label>
            </div>
            <div class="small-2 columns" style="padding:0rem;">
                <div class="switch">
                    <input type="checkbox" ng-model="storeProfile.allowRefund" id="allowRefund">
                    <label for="allowRefund"/>
                </div>
            </div>
        </div>
        <div class="small-6 columns" style="padding:0rem 0rem 0rem 1rem;">
            <div class="small-10 columns" style="padding:0rem;">
                <label class="prefix" style="border-top-width: 0px;border-left-width: 0px;border-bottom-width: 0px;">Email Receipt (Default)</label>
            </div>
            <div class="small-2 columns" style="padding:0rem;">
                <div class="switch">
                    <input type="checkbox" ng-model="storeProfile.emailReceipt" id="emailReceipt">
                    <label for="emailReceipt"/>
                </div>
            </div>
        </div>
        <div class="small-6 columns" style="padding:0rem 0rem 0rem 1rem;">
            <div class="small-10 columns" style="padding:0rem;">
                <label class="prefix" style="border-top-width: 0px;border-left-width: 0px;border-bottom-width: 0px;">Email Staff (Must fill out staff email list)</label>
            </div>
            <div class="small-2 columns" style="padding:0rem;">
                <div class="switch">
                    <input type="checkbox" ng-model="storeProfile.emailToStaff" id="emailStaff">
                    <label for="emailStaff"/>
                </div>
            </div>
        </div>
        <div class="small-6 columns" style="padding:0rem 0rem 0rem 1rem;">
            <div class="small-10 columns" style="padding:0rem;">
                <label class="prefix" style="border-top-width: 0px;border-left-width: 0px;border-bottom-width: 0px;">Email Close Out (Must fill out staff email list)</label>
            </div>
            <div class="small-2 columns" style="padding:0rem;">
                <div class="switch">
                    <input type="checkbox" ng-model="storeProfile.emailCloseOut" id="emailCloseOut">
                    <label for="emailCloseOut"/>
                </div>
            </div>
        </div>
        <div class="small-6 columns" style="padding:0rem 0rem 0rem 1rem;">
            <div class="small-10 columns" style="padding:0rem;">
                <label class="prefix" style="border-top-width: 0px;border-left-width: 0px;border-bottom-width: 0px;">Print IVU LOTO</label>
            </div>
            <div class="small-2 columns" style="padding:0rem;">
                <div class="switch">
                    <input type="checkbox" ng-model="storeProfile.printIvuLoto" id="printIvuLoto">
                    <label for="printIvuLoto"/>
                </div>
            </div>
        </div>
        <div class="small-6 columns" style="padding:0rem 0rem 0rem 1rem;">
            <div class="small-10 columns" style="padding:0rem;">
                <label class="prefix" style="border-top-width: 0px;border-left-width: 0px;border-bottom-width: 0px;">Print Signature Line</label>
            </div>
            <div class="small-2 columns" style="padding:0rem;">
                <div class="switch">
                    <input type="checkbox" ng-model="storeProfile.printSignatureLine" id="idprintSignatureLine">
                    <label for="idprintSignatureLine"/>
                </div>
            </div>
        </div>
        <div class="small-6 columns" style="padding:0rem 0rem 0rem 1rem;">
            <div class="small-10 columns" style="padding:0rem;">
                <label class="prefix" style="border-top-width: 0px;border-left-width: 0px;border-bottom-width: 0px;">Prompt PIN Number After Checkout</label>
            </div>
            <div class="small-2 columns" style="padding:0rem;">
                <div class="switch">
                    <input type="checkbox" ng-model="storeProfile.promptPinNumber" id="idpromptPinNumber">
                    <label for="idpromptPinNumber"/>
                </div>
            </div>
        </div>
        <div class="small-6 columns" style="padding:0rem 0rem 0rem 1rem;">
            <div class="small-10 columns" style="padding:0rem;">
                <label class="prefix" style="border-top-width: 0px;border-left-width: 0px;border-bottom-width: 0px;">Print Gift Receipt</label>
            </div>
            <div class="small-2 columns" style="padding:0rem;">
                <div class="switch">
                    <input type="checkbox" ng-model="storeProfile.printGiftReceipt" id="idprintGiftReceipt">
                    <label for="idprintGiftReceipt"/>
                </div>
            </div>
        </div>
        <div class="small-6 columns" style="padding:0rem 0rem 0rem 1rem;">
            <div class="small-10 columns" style="padding:0rem;">
                <label class="prefix" style="border-top-width: 0px;border-left-width: 0px;border-bottom-width: 0px;">Allow Line Total Discount</label>
            </div>
            <div class="small-2 columns" style="padding:0rem;">
                <div class="switch">
                    <input type="checkbox" ng-model="storeProfile.allowLineTotalDiscount" id="idAllowLineTotalDiscount">
                    <label for="idAllowLineTotalDiscount"/>
                </div>
            </div>
        </div>
        <div class="small-6 columns" style="padding:0rem 0rem 0rem 1rem;">
            <div class="small-10 columns" style="padding:0rem;">
                <label class="prefix" style="border-top-width: 0px;border-left-width: 0px;border-bottom-width: 0px;">Time Zone</label>
            </div>
            <div class="small-2 columns" style="padding:0rem;">
                <select ng-model="storeProfile.timeZone" ng-options="timeZone for timeZone in timeZones">
                    <option>Choose Time Zone</option>
                </select>
            </div>
        </div>
        <div class="small-6 columns" style="padding:0rem 0rem 0rem 1rem;">
            <div class="small-10 columns" style="padding:0rem;">
                <label class="prefix" style="border-top-width: 0px;border-left-width: 0px;border-bottom-width: 0px;">Max Login Attempts</label>
            </div>
            <div class="small-2 columns" style="padding:0rem;">
                <input type="number" ng-model="storeProfile.maxLoginAttempts" id="idMaxLoginAttempts">
            </div>
        </div>
        <div class="small-6 columns" style="padding:0rem 0rem 0rem 1rem;">
            <div class="small-10 columns" style="padding:0rem;">
                <label class="prefix" style="border-top-width: 0px;border-left-width: 0px;border-bottom-width: 0px;">Max Refund Days (Default 7 Days)</label>
            </div>
            <div class="small-2 columns" style="padding:0rem;">
                <input type="number" ng-model="storeProfile.maxRefundDays" placeholder="Days">
            </div>
        </div>

        <div class="small-6 columns" style="padding:0rem 0rem 0rem 1rem;">
            <div class="small-10 columns" style="padding:0rem;">
                <label class="prefix" style="border-top-width: 0px;border-left-width: 0px;border-bottom-width: 0px;">State Tax Rate</label>
            </div>
            <div class="small-2 columns" style="padding:0rem;">
                <input type="text" ng-model="storeProfile.taxRate" placeholder="%">
            </div>
        </div>

        <div class="small-6 columns" style="padding:0rem 0rem 0rem 1rem;">
            <div class="small-10 columns" style="padding:0rem;">
                <label class="prefix" style="border-top-width: 0px;border-left-width: 0px;border-bottom-width: 0px;">CED Time Out</label>
            </div>
            <div class="small-2 columns" style="padding:0rem;">
                <input type="number" ng-model="storeProfile.cedTimeOut" id="idCEDTimeout">
            </div>
        </div>
        <div class="small-6 columns" style="padding:0rem 0rem 0rem 1rem;">
            <div class="small-10 columns" style="padding:0rem">
                <label class="prefix" style="border-top-width: 0px;border-left-width: 0px;border-bottom-width: 0px;">City Tax Rate</label>
            </div>
            <div class="small-2 columns" style="padding:0rem;">
                <input type="text" ng-model="storeProfile.cityTaxRate" placeholder="%">
            </div>
        </div>
        <div class="small-6 columns" style="padding:0rem 0rem 0rem 1rem;">
            <div class="small-10 columns" style="padding:0rem">
                <label class="prefix" style="border-top-width: 0px;border-left-width: 0px;border-bottom-width: 0px;">Max num of Credit card swipe allowed</label>
            </div>
            <div class="small-2 columns" style="padding:0rem;">
                <input type="number" ng-model="storeProfile.maxCardSwipes">
            </div>
        </div>
        <hr>
        <div class="small-6 columns" style="padding:0rem;">
            <label><strong>Label Font</strong></label>
        </div>
        <div class="small-6 columns" style="padding:0rem; padding-left:.5rem;">
            <select ng-model="storeProfile.receiptFont" ng-options="font for font in fonts">
                <option>Choose Label Font</option>
            </select>
        </div>
        <div class="small-10 columns" style="padding:0rem;">
            <label class="prefix" style="border-top-width: 0px;border-left-width: 0px;border-bottom-width: 0px;">Shipping & Handling</label>
        </div>
        <div class="small-2 columns" style="padding:0rem;">
            <input type="text" ng-model="storeProfile.shippingHandlingFee" placeholder="$">
        </div>
        <div class="small-10 columns" style="padding:0rem;">
            <label class="prefix" style="border-top-width: 0px;border-left-width: 0px;border-bottom-width: 0px;">Layaway Minimum %</label>
        </div>
        <div class="small-2 columns" style="padding:0rem;">
            <input type="text" ng-model="storeProfile.layawayPercentage" placeholder="%">
        </div>
        <div class="small-4 columns" style="padding:0rem;">
            <label class="prefix" style="border-top-width: 0px;border-left-width: 0px;border-bottom-width: 0px;">Return Policy</label>
        </div>
        <div class="small-8 columns" style="padding:0rem;">
            <textarea ng-model="storeProfile.returnPolicy" style="height:100px;"></textarea>
        </div>
        <div class="small-4 columns" style="padding:0rem;">
            <label class="prefix" style="border-top-width: 0px;border-left-width: 0px;border-bottom-width: 0px;">Gift Receipt Greeting Message</label>
        </div>
        <div class="small-8 columns" style="padding:0rem;">
            <textarea ng-model="storeProfile.giftReceiptGreetingMsg" style="height:100px;"></textarea>
        </div>
        <div class="small-9 columns" style="padding:0rem;color:#FF9741;">
            <strong>{{message}}</strong>
        </div>
        <div class="small-3 columns" style="padding:0rem;">
            <a class="button postfix" ng-click="updateStoreProfile()" style="width: 100%">Save</a>
        </div>
    </div>
</div>