<div class="small-12 columns">
    <h6><strong>Receipt Printer</strong></h6>

    <div class="row">
        <div class="small-6 columns" style="padding:0rem;">
            <label><strong>Assigned Receipt Printer</strong></label>
        </div>
        <div class="small-6 columns" style="padding:0rem; padding-left:.5rem;">
            <input type="text" placeholder="Assigned Receipt Printer" ng-model="config.printerIP">
        </div>
    </div>
    <div class="row">
        <div class="small-6 columns" style="padding:0rem;">
            <label><strong>Receipt Printers</strong></label>
        </div>
        <div class="small-6 columns" style="padding:0rem; padding-left:.5rem;">
            <select ng-model="config.selectedPrinter" ng-options="printer for printer in config.printers">
                <option>Choose Print IP</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="small-3 columns" style="padding:0rem; padding-right:.5rem;">
            <a class="button postfix" ng-click="openCashRegister()" style="width:100%">Open Drawer</a>
        </div>
        <div class="small-3 columns" style="padding:0rem; padding-left:.5rem; padding-right:.5rem;">
            <a class="button postfix" ng-click="testReceiptPrint()" style="width:100%">Test Print</a>
        </div>
        <div class="small-3 columns" style="padding:0rem; padding-left:.5rem; padding-right:.5rem;">
            <a class="button postfix" ng-click="searchPrinters()" style="width:100%">Search</a>
        </div>
        <div class="small-3 columns" style="padding:0rem; padding-left:.5rem;">
            <a class="button postfix" ng-click="setPrinter()" style="width:100%">Save</a>
        </div>
    </div>
    <hr/>
</div>
<div class="small-12 columns">
    <h6><strong>Label Printer</strong></h6>

    <div class="small-6 columns" style="padding:0rem;">
        <label><strong>Assigned Label Printer</strong></label>
    </div>
    <div class="small-6 columns" style="padding:0rem; padding-left:.5rem;">
        <input type="text" placeholder="Assigned Label Printer" ng-model="config.labelPrinterIP">
    </div>

    <div class="small-6 columns" style="padding:0rem;">
        <label><strong>Label Printers</strong></label>
    </div>
    <div class="small-6 columns" style="padding:0rem; padding-left:.5rem;">
        <select ng-model="config.selectedLabelPrinter" ng-options="printer for printer in config.labelPrinters">
            <option>Choose Label Print IP</option>
        </select>
    </div>

    <div class="small-4 columns" style="padding:0rem; padding-right:.5rem; ">
        <a class="button postfix" ng-click="testLabelPrint()" style="width:100%;">Test Print</a>
    </div>
    <div class="small-4 columns" style="padding:0rem; padding-left:.5rem; padding-right:.5rem;">
        <a class="button postfix" ng-click="searchLabelPrinters()" style="width:100%">Search</a>
    </div>
    <div class="small-4 columns" style="padding:0rem; padding-left:.5rem;">
        <a class="button postfix" ng-click="setLabelPrinter()" style="width:100%">Save</a>
    </div>
</div>