<div class="small-12 columns">
    <h6><strong>Staff Emails For Receipt</strong></h6>

    <div class="small-12 columns" style="padding:0rem;">
        <div class="small-6 columns" style="padding:0rem;">
            <input type="text" placeholder="Email" key-bind="addStaffEmail()" key="13" ng-model="storeProfile.newStaffEmail">
        </div>
        <div class="small-3 columns" style="padding:0rem; padding-right: .5rem;">
            <a class="button postfix" ng-click="addStaffEmail()">Add</a>
        </div>
        <div class="small-3 columns" style="padding:0rem; padding-left: .5rem;">
            <a class="button postfix" ng-click="updateStoreProfile()" style="width: 100%">Save</a>
        </div>
    </div>
    <table class="line-item-table" style="border:1px solid #e5e5e5; margin:1rem 0rem!important;">
        <thead>
        <tr>
            <th style="text-align: left;" colspan="2">Email Address</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="staffEmail in storeProfile.staffEmails" ng-swipe-left="removeStaffEmail(staffEmail)" ng-swipe-right="removeStaffEmail(staffEmail)">
            <td style="text-align:left;">{{staffEmail}}</td>
            <td style="float:right;margin: .5rem 0rem;">
                <img class="button postfix" id="" src="/pos-des/svg/fi-minus-white.svg" id="removeStaffEmail" ng-click="removeStaffEmail(staffEmail)" width="17"
                     height="17" style="width: 25px;height: 25px;border-radius: 50%;margin: auto 0; padding:7px;">
            </td>
        </tr>
        </tbody>
    </table>

    <h6><strong>Staff Emails For Close Out</strong></h6>

    <div class="small-12 columns" style="padding:0rem;">
        <div class="small-6 columns" style="padding:0rem;">
            <input type="text" placeholder="Close Out Email" key-bind="addCloseOutStaffEmail()" key="13" ng-model="storeProfile.newCloseOutStaffEmail">
        </div>
        <div class="small-3 columns" style="padding:0rem; padding-right: .5rem;">
            <a class="button postfix" ng-click="addCloseOutStaffEmail()">Add</a>
        </div>
        <div class="small-3 columns" style="padding:0rem; padding-left: .5rem;">
            <a class="button postfix" ng-click="updateStoreProfile()" style="width: 100%">Save</a>
        </div>
    </div>
    <table class="line-item-table" style="border:1px solid #e5e5e5; margin:1rem 0rem!important;">
        <thead>
        <tr>
            <th style="text-align: left;" colspan="2">Email Address</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="closeOutStaffEmail in storeProfile.closeOutStaffEmails" ng-swipe-left="removeCloseOutStaffEmail(staffEmail)" ng-swipe-right="removeCloseOutStaffEmail(closeOutStaffEmail)">
            <td style="text-align:left;">{{closeOutStaffEmail}}</td>
            <td style="float:right;margin: .5rem 0rem;">
                <img class="button postfix" src="/pos-des/svg/fi-minus-white.svg" id="removeCloseOutStaffEmail" ng-click="removeCloseOutStaffEmail(closeOutStaffEmail)" width="17"
                     height="17" style="width: 25px;height: 25px;border-radius: 50%;margin: auto 0; padding:7px;">
            </td>
        </tr>
        </tbody>
    </table>
    <center><span style="font-size:small; font-weight: bold; -webkit-font-smoothing:antialiased; color:#aaa;">Swipe row to delete staff email</span><br>
        <span style="color:#ed6454; font-size:small; font-weight: bold;">{{message}}</span></center>
</div>