<div class="row" style="display: -webkit-box;">
    <div class="small-8 columns" style="padding:0rem 0rem 0rem 0rem;">
        <div class="small-12 columns" style="padding:0rem;">
            <label style="text-align:center;"><h5><strong>Shipping Address</strong></h5></label>
            <div class="row">
                <div class="small-12 columns" style="padding:0rem 2rem;">
                    <form>
                        <div class="row">
                            <div class="small-4 columns" style="padding: 0rem; padding-right: .5rem;">
                                <input type="text" placeholder="First Name" ng-model="customer.firstName" ng-disabled="!canEdit"/>
                            </div>
                            <div class="small-4 columns" style="padding: 0rem; padding-left: .5rem; padding-right: .5rem;">
                                <input type="text" placeholder="Middle Name" ng-model="customer.middleName" ng-disabled="!canEdit"/>
                            </div>
                            <div class="small-4 columns" style="padding: 0rem; padding-left: .5rem;">
                                <input type="text" placeholder="Last Name" ng-model="customer.lastName" ng-disabled="!canEdit"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-6 columns" style="padding: 0rem; padding-right:.5rem;">
                                <input type="text" placeholder="Address Line 1" ng-model="customer.line1" ng-disabled="!canEdit"/>
                            </div>
                            <div class="small-6 columns" style="padding: 0rem; padding-left:.5rem;">
                                <input type="text" placeholder="Address Line 2" ng-model="customer.line2" ng-disabled="!canEdit"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-4 columns" style="padding: 0rem; padding-right: .5rem;">
                                <input type="text" placeholder="City" ng-model="customer.city" ng-disabled="!canEdit"/>
                            </div>
                            <div class="small-2 columns" style="padding: 0rem; padding-left: .5rem; padding-right: .5rem;">
                                <input type="text" placeholder="State" ng-model="customer.state" ng-disabled="!canEdit"/>
                            </div>
                            <div class="small-2 columns" style="padding: 0rem; padding-left: .5rem; padding-right: .5rem;">
                                <input type="text" placeholder="ZIP" ng-model="customer.zipCode" ng-disabled="!canEdit"/>
                            </div>
                            <div class="small-4 columns" style="padding: 0rem; padding-left: .5rem;">
                                <input type="text" placeholder="Country" ng-model="customer.country" ng-disabled="!canEdit"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <label style="text-align:center;"><h5><strong>Shipping Options</strong></h5></label>
            <div class="small-12 columns"">
                <!--<div class="small-6 columns" ng-show="rates.length > 0" style="height: 2rem;"><label><strong>Ship Vendor:</strong> {{shipVendor}}</label>
                </div>-->
                <div class="small-6 columns" ng-show="rates.length > 0" style="height: 2rem; padding:0rem; padding-top:.5rem;"><label><strong>Ship Via:</strong> {{shipVia}}</label>
                </div>
                <div class="small-6 columns" style="padding:0rem;" ng-show="shipVendor.length > 1">
                    <a ng-click="acceptShipVia()" style="width: 100%" class="button postfix">Apply Shipping Method</a>
                </div>
            </div>
            <div class="small-12 columns" style="padding:0rem;" ng-show="rates.length > 0">
                <table class="orders-table">
                    <thead>
                    <tr>
                        <th style="width:50%;">Ship Via</th>
                        <th style="width:20%;">Cost</th>
                        <th style="width:30%;">Delivery Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="rate in rates | startFrom:currentPage*pageSize | limitTo:pageSize" ng-click="chooseShippingService(rate)">
                        <td><a ng-click="chooseShippingService(rate)">{{rate.shipVia}}</a></td>
                        <td>{{rate.cost | currency}}</td>
                        <td><span ng-show="rate.guaranteedDaysToDeliver > 0">{{rate.guaranteedDaysToDeliver}}</span><span ng-show="rate.scheduledDeliveryTime"> ({{rate.scheduledDeliveryTime}})</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="row" ng-show="rates.length > 0">
                <div class="small-12 columns">
                    <ul class="pagination" role="menubar" aria-label="Pagination">
                        <li class="arrow">
                            <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                                &laquo; Previous
                            </button>
                        </li>
                        <li class="arrow">
                            <button ng-disabled="currentPage >= rates.length / pageSize - 1" ng-click="currentPage=currentPage+1">
                                Next &raquo;
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <span style="color: red">{{errorMsg}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="small-4 columns" style="background: white; padding: 1rem;  margin: -18px 0rem -17px 17px;">
        <div class="row">
            <div class="small-12 columns">
                <label style="text-align:center;"><h5><strong>Item Information</strong></h5></label>

                <div class="row">
                    <div class="small-6 columns"><label style="line-height: 1.25rem;  margin-bottom: -.5rem;"><strong>Shipping Box</strong></label>
                        <span style="color:#aaa; font-weight: bold;"><small>Dimensions</small></span></div>
                    <div class="small-6 columns"><select ng-model="shippingBox" ng-options="box.name for box in boxes" ng-change="populateBoxDimension(shippingBox)"></select></div>
                </div>
                <div class="row">
                    <div class="small-6 columns"><label style="line-height: 1.25rem;  margin-bottom: -.5rem;"><strong>Item Weight</strong></label>
                        <span style="color:#aaa; font-weight: bold;"><small>(lbs)</small></span></div>
                    <div class="small-6 columns" style="margin-bottom:1rem;"><input type="number" ng-model="contentWeight" style="margin-bottom: 0px;" ng-change="calculateTotalWeight()"></div>
                </div>
                <div class="row">
                    <div class="small-6 columns"><label style="line-height: 1.25rem;  margin-bottom: -.5rem;"><strong>Width</strong></label>
                        <span style="color:#aaa; font-weight: bold;"><small>(in)</small></span></div>
                    <div class="small-6 columns" style="margin-bottom:1rem;"><input type="number" ng-model="width" style="margin-bottom: 0px;"></div>
                </div>
                <div class="row">
                    <div class="small-6 columns"><label style="line-height: 1.25rem;  margin-bottom: -.5rem;"><strong>Height</strong></label>
                        <span style="color:#aaa; font-weight: bold;"><small>(in)</small></span></div>
                    <div class="small-6 columns" style="margin-bottom:1rem;"><input type="number" ng-model="height" style="margin-bottom: 0px;"></div>
                </div>
                <div class="row">
                    <div class="small-6 columns"><label style="line-height: 1.25rem;  margin-bottom: -.5rem;"><strong>Length</strong></label>
                        <span style="color:#aaa; font-weight: bold;"><small>(in)</small></span></div>
                    <div class="small-6 columns" style="margin-bottom:1rem;"><input type="number" ng-model="length" style="margin-bottom: 0px;"></div>
                </div>
                <div class="row">
                    <div class="small-6 columns"><label style="line-height: 1.25rem;  margin-bottom: -.5rem;"><strong>Box Weight</strong></label>
                        <span style="color:#aaa; font-weight: bold;"><small>(lbs)</small></span></div>
                    <div class="small-6 columns" style="margin-bottom:1rem;"><input type="number" ng-model="boxWeight" style="margin-bottom: 0px;" ng-change="calculateTotalWeight()"></div>
                </div>
                <div class="row">
                    <div class="small-6 columns"><label style="line-height: 1.25rem;  margin-bottom: -.5rem;"><strong>Total Weight</strong></label>
                        <span style="color:#aaa; font-weight: bold;"><small>(lbs)</small></span></div>
                    <div class="small-6 columns" style="margin-bottom:1rem;"><input type="number" ng-model="totalWeight" style="margin-bottom: 0px;"></div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <div class="button postfix" ng-click="performRateShopping()" style="width: 100%">Rate Shop</div>
                    </div>
                    <div class="small-12 columns">
                        <div class="button postfix" ng-click="closeThisDialog(0)" style="width: 100%">Close</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
