<div class="row">
    <div class="small-12 columns" style="padding: 0rem;">
        <div class="row">
            <h3 style="text-align: center; line-height: normal; font-weight: bold;">Shipping</h3>
            <div class="small-12 columns">
                <input type="text" id="shipping-cost" placeholder="$0.00" style="text-align: center; margin: 1rem 0rem; height: auto; font-size: 3rem; line-height: normal;" ng-model="payAmount">
            </div>
            <div class="small-12 columns">
                <div class="keypad">
                    <span class="1" ng-click="inputKeyNum('1')">1</span>
                    <span class="2" ng-click="inputKeyNum('2')">2</span>
                    <span class="3" ng-click="inputKeyNum('3')">3</span>
                    <br>
                    <span class="4" ng-click="inputKeyNum('4')">4</span>
                    <span class="5" ng-click="inputKeyNum('5')">5</span>
                    <span class="6" ng-click="inputKeyNum('6')">6</span>
                    <br>
                    <span class="7" ng-click="inputKeyNum('7')">7</span>
                    <span class="8" ng-click="inputKeyNum('8')">8</span>
                    <span class="9" ng-click="inputKeyNum('9')">9</span>
                    <br>
                    <span class="." ng-click="inputKeyNum('.')">.</span>
                    <span class="0" ng-click="inputKeyNum('0')">0</span>
                    <span class="del" ng-click="inputKeyNum(' ')">⌫</span>
                    <br>
                </div>
            </div>
            <div class="small-12 columns">
                <a class="button" style="margin:1rem 0rem 0rem 0rem; width: 100%;" ng-click="smartClose()">Close</a>
            </div>
        </div>
    </div>
</div>