<div align="middle">
    <div id="posLogo" class="company-logo"></div>

    <div class="dialog-text">
        <strong>{{popupMsg}}</strong>
    </div>
    <button class="button postfix" style="margin-bottom:0rem;" id="simplePopupOkId" ng-click="closeThisDialog(0)" autofocus="autofocus">OK</button>
</div>