<div class="sticky">
    <nav class="top-bar" ng-controller="TopBarCtrl">
        <section class="top-bar-section">
            <!-- Left Nav Section -->
            <ul class="left">
                <li><a ng-click="goNext('/checkout')">Checkout</a></li>
                <li class="divider"></li>
                <li><a ng-click="goNext('/customers')">Customers</a></li>
                <li class="divider"></li>
                <li><a ng-click="goNext('/products')">Products</a></li>
                <li class="divider"></li>
                <li><a ng-click="goNext('/orders')">Orders</a></li>
                <li class="divider"></li>
                <li ng-show="$root.user.manager" class="divider"></li>
                <li ng-show="$root.user.manager"><a ng-click="goNext('/closeOut')">Close Out</a></li>
            </ul>
            <ul class="right">
                <li class="divider"></li>
                <li ng-show="$root.user.manager"><a ng-click="goNext('/setup')">Setup</a></li>
                <li ng-show="$root.user.manager" class="divider"></li>
                <li><a ng-click="switchUser()">{{$root.user.username}}</a></li>
                <li class="divider"></li>
                <li><a ng-click="logout()">Logout</a></li>
            </ul>
        </section>
    </nav>
</div>
