.company-logo {
    background: url('http://images.deposco.com/DEP/pos_logo.png');
    width: 100px;
    height: 70px;
    margin: .5rem auto 1rem auto;
    background-size: contain;
    background-repeat: no-repeat;
}

.foundation-bar {
    margin-bottom: 20px;
}

.main-section {
    background: #ccc;
    padding: 20px;
}

.signup-panel {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 30px;
}

.signup-panel i {
    font-size: 30px;
    line-height: 50px;
    color: #999;
}

.signup-panel form input, .signup-panel form span {
    height: 50px;
}

.signup-panel .welcome {
    font-size: 26px;
    text-align: center;
    margin-left: 0;
}

.signup-panel p {
    font-size: 13px;
    font-weight: 200;
    margin-left: 25%;
}

.signup-panel .button {
    margin-left: 35%;
}

/*! ng-dialog - v0.3.7 (https://github.com/likeastore/ngDialog) */
@-webkit-keyframes ngdialog-flyin {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes ngdialog-flyin {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        transform: translateY(-40px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes ngdialog-flyout {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px)
    }
}

@keyframes ngdialog-flyout {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        transform: translateY(-40px)
    }
}

.ngdialog.ngdialog-theme-mine {
    padding-bottom: 160px;
    padding-top: 160px
}

.ngdialog.ngdialog-theme-mine.ngdialog-closing .ngdialog-content {
    -webkit-animation: ngdialog-flyout .5s;
    animation: ngdialog-flyout .5s
}

.ngdialog.ngdialog-theme-mine .ngdialog-content {
    -webkit-animation: ngdialog-flyin .5s;
    animation: ngdialog-flyin .5s;
    background: #f0f0f0;
    border-radius: 5px;
    color: #444;
    font-family: Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 100%;
    padding: 1em;
    position: absolute;
    width: 800px;
    margin-left: 12%;
}

.ngdialog.ngdialog-theme-mine .ngdialog-close {
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0
}

.ngdialog.ngdialog-theme-mine .ngdialog-close:before {
    background: 0 0;
    border-radius: 3px;
    color: #bbb;
    content: '\00D7';
    font-size: 26px;
    font-weight: 400;
    height: 30px;
    line-height: 26px;
    position: absolute;
    right: 3px;
    text-align: center;
    top: 3px;
    width: 30px
}

.ngdialog.ngdialog-theme-mine .ngdialog-close:active:before, .ngdialog.ngdialog-theme-mine .ngdialog-close:hover:before {
    color: #777
}

.ngdialog.ngdialog-theme-mine .ngdialog-message {
    margin-bottom: .5em
}

.ngdialog.ngdialog-theme-mine .ngdialog-input {
    margin-bottom: 1em
}

.ngdialog.ngdialog-theme-mine .ngdialog-input input[type=email], .ngdialog.ngdialog-theme-mine .ngdialog-input input[type=password], .ngdialog.ngdialog-theme-mine .ngdialog-input input[type=text], .ngdialog.ngdialog-theme-mine .ngdialog-input input[type=url], .ngdialog.ngdialog-theme-mine .ngdialog-input textarea {
    background: #fff;
    border: 0;
    border-radius: 3px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin: 0 0 .25em;
    min-height: 2.5em;
    padding: .25em .67em;
    width: 100%
}

.ngdialog.ngdialog-theme-mine .ngdialog-input input[type=email]:focus, .ngdialog.ngdialog-theme-mine .ngdialog-input input[type=password]:focus, .ngdialog.ngdialog-theme-mine .ngdialog-input input[type=text]:focus, .ngdialog.ngdialog-theme-mine .ngdialog-input input[type=url]:focus, .ngdialog.ngdialog-theme-mine .ngdialog-input textarea:focus {
    -webkit-box-shadow: inset 0 0 0 2px #8dbdf1;
    box-shadow: inset 0 0 0 2px #8dbdf1;
    outline: 0
}

.ngdialog.ngdialog-theme-mine .ngdialog-buttons {
    *zoom: 1
}

.ngdialog.ngdialog-theme-mine .ngdialog-buttons:after {
    content: '';
    display: table;
    clear: both
}

.ngdialog.ngdialog-theme-mine .ngdialog-button {
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    float: right;
    font-family: inherit;
    font-size: .8em;
    letter-spacing: .1em;
    line-height: 1em;
    margin: 0 0 0 .5em;
    padding: .75em 2em;
    text-transform: uppercase
}

.ngdialog.ngdialog-theme-mine .ngdialog-button:focus {
    -webkit-animation: ngdialog-pulse 1.1s infinite;
    animation: ngdialog-pulse 1.1s infinite;
    outline: 0
}

@media (max-width: 568px) {
    .ngdialog.ngdialog-theme-mine .ngdialog-button:focus {
        -webkit-animation: none;
        animation: none
    }
}

.ngdialog.ngdialog-theme-mine .ngdialog-button.ngdialog-button-primary {
    background: #3288e6;
    color: #fff
}

.ngdialog.ngdialog-theme-mine .ngdialog-button.ngdialog-button-secondary {
    background: #e0e0e0;
    color: #777
}