
.navigation {
    background: #253a48;
    bottom: 0;
    height: 100%;
    left: 0;
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}

.nav-item {
    border-bottom: 1px solid rgba(0,0,0,.25);
    width: 25%;
}

.nav-item a {
    -webkit-font-smoothing: antialiased;
    color: white;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    padding: .75rem 1rem;
    transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
    background: black;
    color: #4aa8dd;
}

.nav-item label {
    -webkit-font-smoothing: antialiased;
    background: #4aa8dd;
    color: white;
    font-size: .7rem;
    font-weight: bold;
    padding: .25rem 1rem;
    text-transform: uppercase;
}

.navigation a:hover {color: #4aa8dd!important;}

.nav-label label {
    -webkit-font-smoothing: antialiased;
    background: #4aa8dd;
    color: white;
    font-size: .75rem;
    font-weight: bold;
    padding: .25rem 1rem;
    text-transform: uppercase;
}

.site-wrap {
    background-color: white;
    background-size: 200%;
    bottom: 100%;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: relative;
    top: 0;
    z-index: 1;
}

.nav-trigger {
    clip: rect(0, 0, 0, 0);
    position: absolute;
}

#nav-trigger {
    margin: 0px;
    padding: 0px;
}

label[for="nav-trigger"] {
    background-size: contain;
    cursor: pointer;
    height: 15px;
    left: 15px;
    position: fixed;
    top: 15px;
    width: 25px;
    z-index: 2;
}

.nav-trigger + label, .site-wrap {transition: left 0.2s;}

.nav-trigger:checked + label {
    left: 25%;
    margin-left: 1rem!important;
}

.nav-trigger:checked ~ .site-wrap {left: 25%;}

body {overflow-x: hidden;}

#trigger {margin-left: 0;}

.trigger {
    background: white;
    box-shadow: 0 0.375em 0 0 white, 0 .75em 0 0 white;
    height: 0.2em;
    z-index: 2;
}

.navigation li.nav-label {
    display: block;
    width: 100%;
}

.navigation li.nav-item {
    display: block;
    width: 100%;
}

.navigation li.nav-item a {
    font-size: 1rem;
    font-weight: bold;
    line-height: 3rem!important;
    padding: 1rem;
}

.site-wrap.ng-scope {
    box-shadow: -5px 0px 2px rgba(0,0,0,.25)!important;
    height: 100vh;
}

li.nav-company-information {
    -webkit-font-smoothing: antialiased;
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 10px;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

ul.navigation {width: 25%;}

.navigation .total-text.ng-binding {
    color: #4aa8dd;
    float: right;
}

.nav-company-information a.ng-binding, .nav-company-information a.ng-binding:hover {
    background: none!important;
    padding: 0px!important;
}

.navigation 3a.ng-click-active {background: #253a48!important;}

.nav-footer {
    bottom: 0px;
    position: absolute;
}

.total-text.ng-binding {
    float: right;
}

.off-canvas-wrap .main-section {
    background: none!important;
    padding: 0px;
}

.move-right .exit-off-canvas {background: none!important;}

ul.off-canvas-list li a {
    -webkit-font-smoothing: antialiased;
    color: white;
    font-weight: bold;
}

.nav-footer {width: 100%;}

ul.off-canvas-list li a {
    border-bottom: 1px solid rgba(0,0,0,.2);
    line-height: normal;
    padding: 1rem;
}

ul.off-canvas-list li label {
    -webkit-font-smoothing: antialiased;
    background: #4aa8dd;
    border: none;
    color: white;
    font-size: .75rem;
    font-weight: bold;
    padding: .25rem 1rem;
    text-transform: uppercase;
    text-align: left!important;
}

.nav-company-information a.ng-binding, .nav-company-information a.ng-binding:hover {
;
    border: none;
    color: #4aa8dd;
    line-height: 2.75rem;
}

ul.off-canvas-list li a:hover {
    background: rgba(0,0,0,.2);
    color: #4aa8dd!important;
}

.total-text-menu-item {
    float: right;
    color: #4aa8dd;
}

ul.off-canvas-list li a.ng-click-active {
    background: #1d2e39;
}