<div class="off-canvas-wrap">
    <div class="inner-wrap">
        <nav class="tab-bar">
            <div class="left-small">
                <a class="left-off-canvas-toggle menu-icon"><span></span></a>
            </div>
        </nav>
        <aside class="left-off-canvas-menu" ng-controller="TopBarCtrl">
            <ul class="off-canvas-list">
                <li class="nav-company-information">
                    <div id="posLogo" class="company-logo" style="background-image: url('http://images.deposco.com/{{$root.user.company}}/pos_logo.gif') "></div>
                    {{$root.user.companyName}}<br/>
                    <small><a ng-click="switchUser()">{{$root.user.username}}</a></small>
                </li>
                <li><label>Main Menu</label></li>
                <li><a ng-click="goNext('/checkout')" class="">Checkout<div class="total-text-menu-item" ng-show="$root.currentCheckout.items.length > 0">{{total | currency}}</div></a></li>
                <li><a ng-click="goNext('/customers')" class="">Customers</a></li>
                <li><a ng-click="goNext('/products')" class="">Products</a></li>
                <li><a ng-click="goNext('/orders')" class="">Orders</a></li>
                <li><a ng-click="goNext('/gift')" class="">Gift Card</a></li>
                <div class="nav-footer">
                    <li><label>Settings</label></li>
                    <li ng-show="$root.user.manager"><a ng-click="goNext('/setup')">Setup</a></li>
                    <li ng-show="$root.user.manager"><a ng-click="goNext('/closeOut')">Close Out</a></li>
                    <li><a ng-click="logout()">Logout</a></li>
                </div>
            </ul>
        </aside>
        <section class="main-section">
            <div class="site-wrap">
                <div class="small-12 columns ng-scope" style="padding:0px!important;">
                    <div class="small-8 columns" style="height:100vh; background:#EDEDED; padding:0rem!important;">
                        <div class="section-head">
                            <h5 style="text-align:center;"><strong>Close Out</strong></h5></div>
                        <div ng-show="closeOuts != null && closeOuts.length > 0">
                            <div class="row">
                                <div class="small-12 columns" style="padding: 1rem;">
                                    <table class="line-item-table">
                                        <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Sales</th>
                                            <th>Returns</th>
                                            <th>Cancels</th>
                                            <th>Net</th>
                                            <!--<th>Action</th>-->
                                        </tr>
                                        </thead>
                                        <tbody class="dates">
                                        <tr ng-repeat="closeOut in closeOuts | startFrom:currentPage*pageSize | limitTo:pageSize">
                                            <td class="date-button"><a href="#/closeOutDetail?closeOutId={{closeOut.id}}">{{closeOut.closeOutDateStr}}</a></td>
                                            <td>{{closeOut.salesTotal | currency}}</td>
                                            <td>{{closeOut.returnsTotal | currency}}</td>
                                            <td>{{closeOut.cancelsTotal | currency}}</td>
                                            <td>{{closeOut.salesTotal-closeOut.returnsTotal-closeOut.cancelsTotal | currency}}</td>
                                            <!--<td class="view-closeout"><a href="#/closeOutDetail?closeOutId={{closeOut.id}}" class="button postfix">View</a></td>-->
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="row">
                                <div class="small-12 columns">
                                    <ul class="pagination" role="menubar" aria-label="Pagination">
                                        <li class="arrow">
                                            <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                                                &laquo; Previous
                                            </button>
                                        </li>
                                        <li class="arrow">
                                            <button ng-disabled="currentPage >= closeOuts.length / pageSize - 1" ng-click="currentPage=currentPage+1">
                                                Next &raquo;
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-4 columns" style="height:100vh; background:#ffffff; padding:0rem!important;">
                        <div class="section-head">
                            <h5 style="text-align:center;"><strong>Search</strong></h5></div>
                        <div class="row">
                            <div class="small-12 columns">
                                <div class="row collapse">
                                    <div class="small-12 columns">
                                        <label style="font-size: .75rem; font-weight:bold;">Start Date</label>
                                        <input type="date" placeholder="Start Date" ng-model="startDate" key-bind="searchCloseOut()" key="13"/>
                                    </div>
                                    <div class="small-12 columns">
                                        <label style="font-size: .75rem; font-weight:bold;">End Date</label>
                                        <input type="date" placeholder="End Date" ng-model="endDate" key-bind="searchCloseOut()" key="13"/>
                                    </div>
                                    <div class="small-12 columns">
                                        <button ng-click="searchCloseOut()" class="button postfix">Search</button>
                                    </div>
                                    <div class="small-12 columns">
                                        <a class="button postfix" href="#/closeOutDetail">Create/Save Close Out</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <a class="exit-off-canvas"></a>
    </div>
</div>