<div class="off-canvas-wrap">
    <div class="inner-wrap">
        <a href="#/closeOut"><nav class="tab-bar">
            <div class="left-small">
                <img class="back-icon" src="/pos-des/svg/fi-back-icon-white.svg" width="28" height="28" align="center" style="margin-left:.5rem;">
            </div>
        </nav></a>
        <aside class="left-off-canvas-menu" ng-controller="TopBarCtrl">
            <ul class="off-canvas-list">
                <li class="nav-company-information">
                    <div id="posLogo" class="company-logo" style="background-image: url('http://images.deposco.com/{{$root.user.company}}/pos_logo.gif') "></div>
                    {{$root.user.companyName}}<br/>
                    <small><a ng-click="switchUser()">{{$root.user.username}}</a></small>
                </li>
                <li><label>Main Menu</label></li>
                <li><a ng-click="goNext('/checkout')" class="">Checkout<div class="total-text-menu-item" ng-show="$root.currentCheckout.items.length > 0">{{total | currency}}</div></a></li>
                <li><a ng-click="goNext('/customers')" class="">Customers</a></li>
                <li><a ng-click="goNext('/products')" class="">Products</a></li>
                <li><a ng-click="goNext('/orders')" class="">Orders</a></li>
                <li><a ng-click="goNext('/gift')" class="">Gift Card</a></li>
                <div class="nav-footer">
                    <li><label>Settings</label></li>
                    <li ng-show="$root.user.manager"><a ng-click="goNext('/setup')">Setup</a></li>
                    <li ng-show="$root.user.manager"><a ng-click="goNext('/closeOut')">Close Out</a></li>
                    <li><a ng-click="logout()">Logout</a></li>
                </div>
            </ul>
        </aside>
        <section class="main-section">
            <div class="site-wrap">
                <div class="small-12 columns ng-scope" style="padding:0px!important;">
                    <div class="small-8 columns" style="height:100vh; background:#EDEDED; padding:0rem!important;">
                        <div class="section-head">
                            <h5 style="text-align:center;"><strong>Close Out</strong></h5></div>
                        <div class="small-6 columns" style="padding-right:.5rem;">
                            <div style="text-align: center;"><label style="font-size: .75rem; font-weight:bold;">Begin</label></div>
                            <table class="line-item-table" id="close-out">
                                <thead>
                                <tr>
                                    <th width="33.3333%" style="text-align:left;">Note</th>
                                    <th width="33.3333%" style="text-align:center;">Amount</th>
                                    <th width="33.3333%" style="text-align:right;">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Pennies</td>
                                    <td><input type="number" placeholder="0" ng-model="closeOut.beginPennies"></td>
                                    <td style="text-align:right;">${{strip(closeOut.beginPennies * 0.01)}}</td>
                                </tr>
                                <tr>
                                    <td>Nickels</td>
                                    <td><input type="number" placeholder="0" ng-model="closeOut.beginNickels"></td>
                                    <td style="text-align:right;">${{strip(closeOut.beginNickels * 0.05)}}</td>
                                </tr>
                                <tr>
                                    <td>Dimes</td>
                                    <td><input type="number" placeholder="0" ng-model="closeOut.beginDimes"></td>
                                    <td style="text-align:right;">${{strip(closeOut.beginDimes * 0.1)}}</td>
                                </tr>
                                <tr>
                                    <td>Quarters</td>
                                    <td><input type="number" placeholder="0" ng-model="closeOut.beginQuarters"></td>
                                    <td style="text-align:right;">${{strip(closeOut.beginQuarters * 0.25)}}</td>
                                </tr>
                                <tr>
                                    <td>Ones</td>
                                    <td><input type="number" placeholder="0" ng-model="closeOut.beginOnes"></td>
                                    <td style="text-align:right;">${{strip(closeOut.beginOnes * 1)}}</td>
                                </tr>
                                <tr>
                                    <td>Fives</td>
                                    <td><input type="number" placeholder="0" ng-model="closeOut.beginFives"></td>
                                    <td style="text-align:right;">${{strip(closeOut.beginFives * 5)}}</td>
                                </tr>
                                <tr>
                                    <td>Tens</td>
                                    <td><input type="number" placeholder="0" ng-model="closeOut.beginTens"></td>
                                    <td style="text-align:right;">${{strip(closeOut.beginTens * 10)}}</td>
                                </tr>
                                <tr>
                                    <td>Twenties</td>
                                    <td><input type="number" placeholder="0" ng-model="closeOut.beginTwenties"></td>
                                    <td style="text-align:right;">${{strip(closeOut.beginTwenties * 20)}}</td>
                                </tr>
                                <tr>
                                    <td>Fifties</td>
                                    <td><input type="number" placeholder="0" ng-model="closeOut.beginFifties"></td>
                                    <td style="text-align:right;">${{strip(closeOut.beginFifties * 50)}}</td>
                                </tr>
                                <tr>
                                    <td>Hundreds</td>
                                    <td><input type="number" placeholder="0" ng-model="closeOut.beginHundreds"></td>
                                    <td style="text-align:right;">${{strip(closeOut.beginHundreds * 100)}}</td>
                                </tr>
                                <tr>
                                    <td colspan="3"><strong><div style="float:left; padding: .5rem 0rem;">OPEN TOTAL</div><div style="float:right; padding: .5rem 0rem;">${{strip(getBeginTotal(closeOut))}}</div></strong></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="small-6 columns" style="padding-left: .5rem;">
                            <div style="text-align: center;"><label style="font-size: .75rem; font-weight:bold;">End Date</label></div>
                            <table class="line-item-table" id="close-out">
                                <thead>
                                <tr>
                                    <th width="33.3333%" style="text-align:left;">Note</th>
                                    <th width="33.3333%" style="text-align:center;">Amount</th>
                                    <th width="33.3333%" style="text-align:right;">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Pennies</td>
                                    <td><input type="number" placeholder="0" ng-model="closeOut.endPennies"></td>
                                    <td style="text-align:right;">${{strip(closeOut.endPennies * 0.01)}}</td>
                                </tr>
                                <tr>
                                    <td>Nickels</td>
                                    <td><input type="number" placeholder="0" ng-model="closeOut.endNickels"></td>
                                    <td style="text-align:right;">${{strip(closeOut.endNickels * 0.05)}}</td>
                                </tr>
                                <tr>
                                    <td>Dimes</td>
                                    <td><input type="number" placeholder="0" ng-model="closeOut.endDimes"></td>
                                    <td style="text-align:right;">${{strip(closeOut.endDimes * 0.1)}}</td>
                                </tr>
                                <tr>
                                    <td>Quarters</td>
                                    <td><input type="number" placeholder="0" ng-model="closeOut.endQuarters"></td>
                                    <td style="text-align:right;">${{strip(closeOut.endQuarters * 0.25)}}</td>
                                </tr>
                                <tr>
                                    <td>Ones</td>
                                    <td><input type="number" placeholder="0" ng-model="closeOut.endOnes"></td>
                                    <td style="text-align:right;">${{strip(closeOut.endOnes * 1)}}</td>
                                </tr>
                                <tr>
                                    <td>Fives</td>
                                    <td><input type="number" placeholder="0" ng-model="closeOut.endFives"></td>
                                    <td style="text-align:right;">${{strip(closeOut.endFives * 5)}}</td>
                                </tr>
                                <tr>
                                    <td>Tens</td>
                                    <td><input type="number" placeholder="0" ng-model="closeOut.endTens"></td>
                                    <td style="text-align:right;">${{strip(closeOut.endTens * 10)}}</td>
                                </tr>
                                <tr>
                                    <td>Twenties</td>
                                    <td><input type="number" placeholder="0" ng-model="closeOut.endTwenties"></td>
                                    <td style="text-align:right;">${{strip(closeOut.endTwenties * 20)}}</td>
                                </tr>
                                <tr>
                                    <td>Fifties</td>
                                    <td><input type="number" placeholder="0" ng-model="closeOut.endFifties"></td>
                                    <td style="text-align:right;">${{strip(closeOut.endFifties * 50)}}</td>
                                </tr>
                                <tr>
                                    <td>Hundreds</td>
                                    <td><input type="number" placeholder="0" ng-model="closeOut.endHundreds"></td>
                                    <td style="text-align:right;">${{strip(closeOut.endHundreds * 100)}}</td>
                                </tr>
                                <tr>
                                    <td colspan="3"><strong><div style="float:left; padding: .5rem 0rem;">CLOSE TOTAL</div><div style="float:right; padding: .5rem 0rem;">${{strip(getEndTotal(closeOut))}}</div></strong></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="small-12 columns">
                            <table class="line-item-table" id="close-out" style="text-align: center;">
                                <thead>
                                <tr>
                                    <th width="20%"></th>
                                    <th style="text-align:center;" width="20%">Sales</th>
                                    <th style="text-align:center;" width="20%">Returns</th>
                                    <th style="text-align:center;" width="20%">Cancels</th>
                                    <th style="text-align: right" width="20%">NET</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td style="padding: .5rem 1rem;">Sales</td>
                                    <td style="text-align: center">${{strip(closeOut.salesTotal-closeOut.salesTaxTotal)}}</td>
                                    <td style="text-align: center">${{strip(closeOut.returnsTotal-closeOut.returnsTaxTotal)}}</td>
                                    <td style="text-align: center">${{strip(closeOut.cancelsTotal-closeOut.cancelsTaxTotal)}}</td>
                                    <td style="text-align: right">${{strip(closeOut.salesTotal-closeOut.returnsTotal-closeOut.cancelsTotal + (closeOut.returnsTaxTotal+closeOut.cancelsTaxTotal-closeOut.salesTaxTotal))}}</td>
                                </tr>
                                <tr>
                                    <td style="padding: .5rem 1rem;">Tax</td>
                                    <td style="text-align: center">${{strip(closeOut.salesTaxTotal)}}</td>
                                    <td style="text-align: center">${{strip(closeOut.returnsTaxTotal)}}</td>
                                    <td style="text-align: center">${{strip(closeOut.cancelsTaxTotal)}}</td>
                                    <td style="text-align: right">${{strip(closeOut.salesTaxTotal-closeOut.returnsTaxTotal-closeOut.cancelsTaxTotal)}}</td>
                                </tr>
                                <tr>
                                    <td style="padding: .5rem 1rem;">Total</td>
                                    <td style="text-align: center">${{strip(closeOut.salesTotal)}}</td>
                                    <td style="text-align: center">${{strip(closeOut.returnsTotal)}}</td>
                                    <td style="text-align: center">${{strip(closeOut.cancelsTotal)}}</td>
                                    <td style="text-align: right">${{strip(closeOut.salesTotal-closeOut.returnsTotal-closeOut.cancelsTotal)}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="small-4 columns" style="height:100vh; background:#ffffff; padding:0rem!important;">
                        <div class="section-head">
                            <h5 style="text-align:center;"><strong>Totals</strong></h5>
                        </div>
                        <div class="row">
                            <div class="small-12 columns" >
                                <label style="font-size: .75rem; font-weight:bold;">Date: {{closeOut.closeOutDateStr}}</label>
                            </div>
                            <div class="small-12 columns" >
                                <label><input type="date" ng-model="closeOut.closeOutDateStr" ng-change="loadCloseOut(closeOut.closeOutDateStr)"/></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 columns" >
                                <table class="line-item-table" id="close-out"  style="text-align: right;">
                                    <thead>
                                    <tr>
                                        <th style="text-align:right;" colspan="2">Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td style="padding: .5rem 1rem;">Paid In</td>
                                        <td style="text-align: right">${{strip(closeOut.cashPaidIn)}}</td>
                                    </tr>
                                    <tr>
                                        <td style="padding: .5rem 1rem;">Paid Out</td>
                                        <td style="text-align: right">${{strip(closeOut.cashPaidOut)}}</td>
                                    </tr>
                                    <tr>
                                        <td style="padding: .5rem 1rem;">Begin</td>
                                        <td style="text-align: right">${{strip(getBeginTotal(closeOut))}}</td>
                                    </tr>
                                    <tr>
                                        <td style="padding: .5rem 1rem;">Net</td>
                                        <td style="text-align: right">${{strip(getDollarsNet(closeOut))}}</td>
                                    </tr>
                                    <tr>
                                        <td style="padding: .5rem 1rem;">Count</td>
                                        <td style="text-align: right">${{strip(getEndTotal(closeOut))}}</td>
                                    </tr>
                                    <tr>
                                        <td style="padding: .5rem 1rem;">Over</td>
                                        <td style="text-align: right">${{strip(getEndTotal(closeOut)-getDollarsNet(closeOut))}}</td>
                                    </tr>
                                    <tr>
                                        <td>Leave</td>
                                        <td style="text-align: right"><input type="text" placeholder="0" ng-model="closeOut.leaveTotal" ng-blur="updateDeposit(closeOut)"></td>
                                    </tr>
                                    <tr>
                                        <td>Deposit</td>
                                        <td style="text-align: right"><input type="text" placeholder="0" ng-model="closeOut.depositTotal" ng-blur="updateLeave(closeOut)"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-6 columns" style="padding-right: .5rem;">
                                <a class="button postfix" ng-click="update(closeOut)" style="width: 100%">Create/Save</a>
                            </div>
                            <div class="small-6 columns" style="padding-left: .5rem;">
                                <a class="button postfix" ng-click="print(closeOut)" style="width: 100%">Print</a>
                            </div>
                            <div class="small-6 columns" style="padding-right: .5rem;">
                                <a class="button postfix" ng-click="openCashRegister()" style="width: 100%">Open Register</a>
                            </div>
                            <div class="small-6 columns" style="padding-left: .5rem;">
                                <a class="button postfix" ng-click="email(closeOut)" style="width: 100%">Email</a>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <a class="exit-off-canvas"></a>
    </div>
</div>
