<div class="off-canvas-wrap">
    <div class="inner-wrap">
        <nav class="tab-bar">
            <div class="left-small">
                <a class="left-off-canvas-toggle menu-icon"><span></span></a>
            </div>
        </nav>
        <aside class="left-off-canvas-menu" ng-controller="TopBarCtrl">
            <ul class="off-canvas-list">
                <li class="nav-company-information">
                    <div id="posLogo" class="company-logo" style="background-image: url('http://images.deposco.com/{{$root.user.company}}/pos_logo.gif') "></div>
                    {{$root.user.companyName}}<br/>
                    <small><a ng-click="switchUser()">{{$root.user.username}}</a></small>
                </li>
                <li><label>Main Menu</label></li>
                <li><a ng-click="goNext('/checkout')" class="">Checkout
                    <!--<div class="total-text-menu-item" ng-show="$root.currentCheckout.items.length > 0">{{total | currency}}</div>-->
                </a></li>
                <li><a ng-click="goNext('/customers')" class="">Customers</a></li>
                <li><a ng-click="goNext('/products')" class="">Products</a></li>
                <li><a ng-click="goNext('/orders')" class="">Orders</a></li>
                <li><a ng-click="goNext('/gift')" class="">Gift Card</a></li>
                <div class="nav-footer">
                    <li><label>Settings</label></li>
                    <li ng-show="$root.user.manager"><a ng-click="goNext('/setup')">Setup</a></li>
                    <li ng-show="$root.user.manager"><a ng-click="goNext('/closeOut')">Close Out</a></li>
                    <li><a ng-click="logout()">Logout</a></li>
                </div>
            </ul>
        </aside>
        <section class="main-section">
            <div class="site-wrap">
                <div class="small-12 columns ng-scope" style="padding:0px!important;">
                    <div class="small-8 columns" style="height:100vh; background:#EDEDED; padding:0rem!important;">
                        <div class="section-head">
                            <h5 style="text-align:center;"><strong>Customers</strong></h5>
                            <div ng-show="customers != null && customers.length > 0" style="padding:0rem 1rem;">
                                <table class="customer-list"> 
                                    <thead> 
                                    <tr> 
                                        <th style="width:40%;">Customer</th> 
                                        <th style="width: 20%; text-align:center;">Store Credit</th> 
                                        <th style="width: 20%; text-align:center;">Orders</th> 
                                        <th style="width:20%; text-align:center;">Add to Sale</th> 
                                    </tr> 
                                    </thead> 
                                    <tbody> 
                                    <tr ng-repeat="customer in customers | startFrom:currentPage*pageSize | limitTo:pageSize">
                                        <td id="customer-results-details" ng-click="viewCustomerDetail(customer.id)">
                                            <small><strong><a style="font-size: 0.8125rem; padding:0px; margin-bottom: 0rem;" ng-click="viewCustomerDetail(customer.id)">{{customer.firstName}} {{customer.lastName}}</a></strong><br>
                                                {{customer.line1}}<br>{{customer.city}}, {{customer.state}} {{customer.zipCode}}, {{customer.country}}<br>
                                                {{customer.email}}<br>
                                                <strong>{{customer.phoneNumber | tel}}</strong></td>
                                        <td style="text-align:center;">{{customer.storeCredit | currency}}</td>
                                        <td style="padding-top: 0px;padding-bottom: 0px;text-align:center;">
                                            <a href="#/orders/{{customer.id}}" class="view-orders">View</a>
                                        </td>
                                        <td style="text-align:center;"><img class="button postfix" id="add-customer" src="/pos-des/svg/fi-plus-white.svg" width="17" height="17" align="center" ng-click="selectCustomer(customer)"></td>
                                    </tr> 
                                    </tbody> 
                                </table>
                                <div class="small-12 columns" style="padding:0rem;">
                                    <ul class="pagination" role="menubar" aria-label="Pagination">
                                        <li class="arrow">
                                            <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                                                &laquo; Previous
                                            </button>
                                        </li>
                                        <li class="arrow">
                                            <button ng-disabled="currentPage >= customers.length / pageSize - 1" ng-click="currentPage=currentPage+1">
                                                Next &raquo;
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-4 columns" style="height:100vh; background:#ffffff; padding:0rem!important; border-right:1px solid #E5E5E5">
                        <!--<a ng-click="resetCustomers()" id="clear-cart" style="padding-left: 1em;padding-right: 1em; width: 100%">Clear</a>
                        <a ng-click="saveCustomers()" id="save-cart" style="padding-left: 1em;padding-right: 1em; width: 100%">Add</a>-->
                        <div class="section-head">
                            <h5 style="text-align:center;"><strong>Search</strong></h5>
                        </div>
                        <div class="row">
                            <div class="small-12 columns">
                                <input type="text" placeholder="Phone #" ng-model="phoneNumber" key-bind="lookupCustomer()" key="13"/>
                            </div>
                            <div class="small-12 columns">
                                <input type="text" placeholder="Name" ng-model="customerName" key-bind="lookupCustomer()" key="13"/>
                            </div>
                            <div class="small-12 columns">
                                <input type="email" placeholder="Email" ng-model="email" key-bind="lookupCustomer()" key="13"/>
                            </div>
                            <div class="small-12 columns">
                                <input type="number" placeholder="Driver License" ng-model="driverLicense" key-bind="lookupCustomer()" key="13"/>
                            </div>
                            <div class="small-6 columns" style="padding-right: .5rem">
                                <input type="number" placeholder="DOB (mmddyy)" ng-model="dob" key-bind="lookupCustomer()" key="13" maxlength="6"/>
                            </div>
                            <div class="small-6 columns" style="padding-left: .5rem">
                                <input type="number" placeholder="Zip" ng-model="zipCode" key-bind="lookupCustomer()" key="13"/>
                            </div>
                            <div class="small-6 columns" style="padding-right: .5rem;">
                                <a class="button postfix" ng-click="lookupCustomer()">Search</a>
                            </div>
                            <div class="small-6 columns" style="padding-left: .5rem;">
                                <a class="button postfix" href="#/new_customer">New Customer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <a class="exit-off-canvas"></a>
    </div>
</div>