<div class="off-canvas-wrap">
    <div class="inner-wrap">
        <nav class="tab-bar">
            <div class="left-small">
                <a class="left-off-canvas-toggle menu-icon"><span></span></a>
            </div>
        </nav>
        <aside class="left-off-canvas-menu" ng-controller="TopBarCtrl">
            <ul class="off-canvas-list">
                <li class="nav-company-information">
                    <div id="posLogo" class="company-logo" style="background-image: url('http://images.deposco.com/{{$root.user.company}}/pos_logo.gif') "></div>
                    {{$root.user.companyName}}<br/>
                    <small><a ng-click="switchUser()">{{$root.user.username}}</a></small>
                </li>
                <li><label>Main Menu</label></li>
                <li><a ng-click="goNext('/checkout')" class="">Checkout
                    <!--<div class="total-text-menu-item" ng-show="$root.currentCheckout.items.length > 0">{{total | currency}}</div>-->
                </a></li>
                <li><a ng-click="goNext('/customers')" class="">Customers</a></li>
                <li><a ng-click="goNext('/products')" class="">Products</a></li>
                <li><a ng-click="goNext('/orders')" class="">Orders</a></li>
                <li><a ng-click="goNext('/gift')" class="">Gift Card</a></li>
                <div class="nav-footer">
                    <li><label>Settings</label></li>
                    <li ng-show="$root.user.manager"><a ng-click="goNext('/setup')">Setup</a></li>
                    <li ng-show="$root.user.manager"><a ng-click="goNext('/closeOut')">Close Out</a></li>
                    <li><a ng-click="logout()">Logout</a></li>
                </div>
            </ul>
        </aside>
        <section class="main-section">
            <div class="site-wrap">
                <div class="small-12 columns ng-scope" style="padding:0px!important;">
                    <div class="small-12 columns" style="height:100vh; background:#EDEDED; padding:0rem!important;">
                        <div class="section-head">
                            <h5 style="text-align:center;"><strong>Gift Cards</strong></h5></div>
                        <tabs class="setup-tabs" style="margin-top:-1rem!important;">
                            <!--<pane tab-title="Activate Card" style="font-weight: bold;">-->
                            <!--<div class="small-12 columns">-->
                            <!--<h6><strong>Activate Card</strong></h6>-->
                            <!--<div class="small-12 columns" style="padding:0rem;">-->
                            <!--<div class="small-4 columns" style="padding:0rem;"><input type="number" id="" placeholder="Gift Card #" ng-model="" key-bind="" key="13"/></div>-->
                            <!--<div class="small-2 columns" style="padding:0rem; padding-right: .5rem;">-->
                            <!--<a ng-click="" class="button postfix">Search</a>-->
                            <!--</div>-->
                            <!--<div class="small-4 columns" style="padding:0rem;"><input type="number" id="" placeholder="Initial Amount" ng-model="" key-bind="" key="13"/></div>-->
                            <!--<div class="small-2 columns" style="padding:0rem; padding-right: .5rem;">-->
                            <!--<a ng-click="" class="button postfix">Search</a>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</pane>-->
                            <!--<pane tab-title="Add Balance" style="font-weight: bold;">-->
                            <!--<div class="small-12 columns">-->
                            <!--<h6><strong>Add Balance</strong></h6>-->
                            <!--<div class="small-12 columns" style="padding:0rem;">-->
                            <!--<div class="small-4 columns" style="padding:0rem;"><input type="number" id="" placeholder="Gift Card #" ng-model="" key-bind="" key="13"/></div>-->
                            <!--<div class="small-2 columns" style="padding:0rem; padding-right: .5rem;">-->
                            <!--<a ng-click="" class="button postfix">Search</a>-->
                            <!--</div>-->
                            <!--<div class="small-4 columns" style="padding:0rem;"><input type="number" id="" placeholder="Initial Amount" ng-model="" key-bind="" key="13"/></div>-->
                            <!--<div class="small-2 columns" style="padding:0rem; padding-right: .5rem;">-->
                            <!--<a ng-click="" class="button postfix">Search</a>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</pane>-->
                            <pane tab-title="Check Balance" style="font-weight: bold;">
                                <div class="small-12 columns">
                                    <h6><strong>Check Balance</strong></h6>
                                    <div class="small-12 columns" style="padding:0rem;">
                                        <div class="small-10 columns" style="padding:0rem;"><input type="number" id="" placeholder="Gift Card #" ng-model="cardNumber" key-bind="checkBalance(cardNumber)" key="13"/></div>
                                        <div class="small-2 columns" style="padding:0rem;">
                                            <a ng-click="checkBalance(cardNumber)" class="button postfix">Check</a>
                                        </div>
                                        <div class="row" ng-show="processMsg != null">
                                            <div class="small-12 columns" style="text-align: center">
                                                <label>
                                                    <span style="color: #ed6454; font-weight: bold; text-align: center;   font-size: 1rem; -webkit-font-smoothing: antialiased;!important;">{{processMsg}}</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="small-12 columns" style="padding:0rem;">
                                            <table class="product-list"> 
                                                <thead>
                                                <tr>
                                                    <th width="25%">Card Balance</th>
                                                    <th width="25%" style="text-align: center">Points Balance</th>
                                                    <th width="25%" style="text-align: center">Life Points Balance</th>
                                                    <th width="25%" style="text-align: center">Expiration</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr style="background: #f9f9f9;">
                                                    <td>{{cardBalance | currency}}</td>
                                                    <td style="text-align: center">{{pointsBalance}}</td>
                                                    <td style="text-align: center">{{lifePointsBalance}}</td>
                                                    <td style="text-align: center">{{expirationDate}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </pane>
                        </tabs>
                    </div>
                </div>
        </section>
        <a class="exit-off-canvas"></a>
    </div>
</div>
