<body bgcolor="#253a48">
    <div class="row">
        <div class="large-6 columns">
            <div class="signup-panel">
                <p class="welcome">POS</p>
                <div style="color: red">{{login.error}}</div>
                <form>
                    <div class="row collapse">
                        <div class="small-12  columns">
                            <input type="text" id="companyId" placeholder="Company" ng-model="company">
                        </div>
                    </div>
                    <div class="row collapse">
                        <div class="small-12  columns">
                            <input type="text" id="storeId" placeholder="Store" ng-model="store">
                        </div>
                    </div>
                    <div class="row collapse">
                        <div class="small-12  columns">
                            <input type="text" id="usernameId" placeholder="Username" ng-model="username">
                        </div>
                    </div>
                    <div class="row collapse">
                        <div class="small-12 columns ">
                            <input type="password" id="passwordId" placeholder="Password" ng-model="password">
                        </div>
                    </div>
                </form>
                <div class="row collapse">
                    <div class="small-12  columns">
                        <input type="checkbox" ng-model="isUA"> UA
                    </div>
                    <div class="small-12  columns">
                        <a ng-click="login()" class="button">Log In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>