<div class="off-canvas-wrap">
    <div class="inner-wrap">
        <a ng-click="goBack()"><nav class="tab-bar">
            <div class="left-small">
                <img class="back-icon" src="/pos-des/svg/fi-back-icon-white.svg" width="28" height="28" align="center" style="margin-left:.5rem;">
            </div>
        </nav></a>
        <aside class="left-off-canvas-menu" ng-controller="TopBarCtrl">
            <ul class="off-canvas-list">
                <li class="nav-company-information">
                    <div id="posLogo" class="company-logo" style="background-image: url('http://images.deposco.com/{{$root.user.company}}/pos_logo.gif') "></div>
                    {{$root.user.companyName}}<br/>
                    <small><a ng-click="switchUser()">{{$root.user.username}}</a></small>
                </li>
                <li><label>Main Menu</label></li>
                <li><a ng-click="goNext('/checkout')" class="">Checkout
                    <!--<div class="total-text-menu-item" ng-show="$root.currentCheckout.items.length > 0">{{total | currency}}</div>-->
                </a></li>
                <li><a ng-click="goNext('/customers')" class="">Customers</a></li>
                <li><a ng-click="goNext('/products')" class="">Products</a></li>
                <li><a ng-click="goNext('/orders')" class="">Orders</a></li>
                <li><a ng-click="goNext('/gift')" class="">Gift Card</a></li>
                <div class="nav-footer">
                    <li><label>Settings</label></li>
                    <li ng-show="$root.user.manager"><a ng-click="goNext('/setup')">Setup</a></li>
                    <li ng-show="$root.user.manager"><a ng-click="goNext('/closeOut')">Close Out</a></li>
                    <li><a ng-click="logout()">Logout</a></li>
                </div>
            </ul>
        </aside>
        <section class="main-section">
            <div class="site-wrap">
                <div class="small-12 columns ng-scope" style="padding:0px!important;">
                    <div class="small-8 columns" style="height:100vh; background:#EDEDED; padding:0rem!important;">
                        <div class="section-head">
                            <h5 style="text-align:center;"><strong>Create Profile</strong></h5></div>
                            <form>
                                <div class="small-12 columns">
                                    <div class="row">
                                        <div class="small-4 columns" style="padding: 0rem; padding-right: .5rem;"">
                                            <input type="number" placeholder="Phone Number" ng-model="customer.phoneNumber"/>
                                        </div>
                                        <div class="small-4 columns" style="padding: 0rem; padding-left: .5rem; padding-right: .5rem;">
                                            <input type="number" placeholder="DOB (MMDDYY)" ng-model="customer.dob" maxlength="6"/>
                                        </div>
                                        <div class="small-4 columns" style="padding: 0rem; padding-left: .5rem;">
                                            <input type="email" placeholder="Email Address" ng-model="customer.email"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-4 columns" style="padding: 0rem; padding-right: .5rem;">
                                            <input type="text" placeholder="First Name" ng-model="customer.firstName"/>
                                        </div>
                                        <div class="small-4 columns" style="padding: 0rem; padding-left: .5rem; padding-right: .5rem;">
                                            <input type="text" placeholder="Middle Name" ng-model="customer.middleName"/>
                                        </div>
                                        <div class="small-4 columns" style="padding: 0rem; padding-left: .5rem;">
                                            <input type="text" placeholder="Last Name" ng-model="customer.lastName"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-6 columns" style="padding: 0rem; padding-right:.5rem;!important">
                                            <input type="text" placeholder="Address Line 1" ng-model="customer.line1"/>
                                        </div>
                                        <div class="small-6 columns" style="padding: 0rem; padding-left:.5rem;!important">
                                            <input type="text" placeholder="Address Line 2" ng-model="customer.line2"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-4 columns" style="padding: 0rem; padding-right: .5rem;">
                                            <input type="text" placeholder="City" ng-model="customer.city"/>
                                        </div>
                                        <div class="small-2 columns" style="padding: 0rem; padding-left: .5rem; padding-right: .5rem;">
                                            <input type="text" placeholder="State" ng-model="customer.state"/>
                                        </div>
                                        <div class="small-2 columns" style="padding: 0rem; padding-left: .5rem; padding-right: .5rem;">
                                            <input type="text" placeholder="Zip" ng-model="customer.zipCode"/>
                                        </div>
                                        <div class="small-4 columns" style="padding: 0rem; padding-left: .5rem;">
                                            <select ng-model="customer.country" ng-options="country.key as country.value for country in countries">
                                                <option>Choose Country</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-4 columns" style="padding: 0rem;margin-top:-1rem;">
                                            <div class="payment-container">
                                                <ul>
                                                    <div class="small-6 columns" style="padding:0rem; padding-bottom:1rem; line-height: 1rem;"><li>
                                                        <input type="radio" name="group1" id="male" name="gender" value="Male" ng-model="customer.gender">
                                                        <label class="male" for="male">Male</label>
                                                    </li>
                                                    </div>
                                                    <div class="small-6 columns" style="padding:0rem; padding-right: .5rem; padding-bottom:1rem; line-height: 1rem;"><li>
                                                        <input type="radio" name="group1" id="female" name="gender" value="Female" ng-model="customer.gender">
                                                        <label for="female">Female</label>
                                                    </li>
                                                    </div>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="small-4 columns" style="padding: 0rem;margin-top:-1rem;">
                                            <div class="payment-container">
                                                <ul>
                                                    <div class="small-6 columns" style="padding:0rem; padding-left: .5rem;  padding-bottom:1rem; line-height: 1rem;"><li>
                                                        <input type="radio" name="group2" id="foreigner" name="foreigner" value="Foreigner" ng-model="customer.foreigner">
                                                        <label class="foreigner" for="foreigner">Traveler</label>
                                                    </li>
                                                    </div>
                                                    <div class="small-6 columns" style="padding:0rem; padding-right: .5rem; padding-bottom:1rem; line-height: 1rem;"><li>
                                                        <input type="radio" name="group2" id="domestic" value="Domestic"  ng-model="customer.foreigner">
                                                        <label for="domestic">Domestic</label>
                                                    </li>
                                                    </div>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="small-4 columns" style="padding: 0rem;">
                                            <div class="small-8 columns" style="padding: 0rem; padding-left:.5rem;">
                                                <input type="number" placeholder="Driver License" ng-model="customer.driverLicense"/>
                                            </div>
                                            <div class="small-4 columns" style="padding: 0rem;">
                                                <a class="button postfix" ng-click="parseDriverLicense()">Parse</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="text-align: center">
                                        <div class="small-12 columns" style="font-size:small; font-weight: bold; text-align:center; -webkit-font-smoothing: antialiased;">
                                            {{message}}
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="small-4 columns" style="height:100vh; background:#ffffff; padding:0rem!important;">
                            <div class="section-head">
                                <h5 style="text-align:center;"><strong>Photo</strong></h5>
                            </div>
                            <div class="row">
                                <div class="small-12 columns">
                                    <img id="customerImageID" src=""/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 columns" style="padding:0rem; padding-right: 1rem; padding-left:1rem;">
                                    <a class="button postfix" ng-click="takePicture()" style="width:100%;">Take picture</a>
                                </div>
                                <div class="small-12 columns" style="padding:0rem; padding-left:1rem; padding-right:1rem;">
                                    <a class="button" id="create-customer" ng-disabled="createButtonDisabled" ng-click="submit(customer)">Create Customer</a>
                                </div>
                                <!--<div class="small-6 columns">-->
                                <!--<a class="button" ng-click="scanDriverLicense()" style="width:100%">Scan License</a>-->
                                <!--</div>-->
                            </div>
                            <div class="row">
                                <div class="small-12 columns" style="color: #253a48;  font-weight: bold;  text-align: center;  font-size: 1rem;  -webkit-font-smoothing: antialiased;">
                                    {{processMsg}}
                                </div>
                            </div>
                        </div>
                        </div>
                     </section>
                <a class="exit-off-canvas"></a>
    </div>
</div>