<div class="off-canvas-wrap">
    <div class="inner-wrap">
        <a href="#/orders"><nav class="tab-bar">
            <div class="left-small">
                <img class="back-icon" src="/pos-des/svg/fi-back-icon-white.svg" width="28" height="28" align="center" style="margin-left:.5rem;">
            </div>
        </nav></a>
        <aside class="left-off-canvas-menu" ng-controller="TopBarCtrl">
            <ul class="off-canvas-list">
                <li class="nav-company-information">
                    <div id="posLogo" class="company-logo" style="background-image: url('http://images.deposco.com/{{$root.user.company}}/pos_logo.gif') "></div>
                    {{$root.user.companyName}}<br/>
                    <small><a ng-click="switchUser()">{{$root.user.username}}</a></small>
                </li>
                <li><label>Main Menu</label></li>
                <li><a ng-click="goNext('/checkout')" class="">Checkout
                    <!--<div class="total-text-menu-item" ng-show="$root.currentCheckout.items.length > 0">{{total | currency}}</div>-->
                </a></li>
                <li><a ng-click="goNext('/customers')" class="">Customers</a></li>
                <li><a ng-click="goNext('/products')" class="">Products</a></li>
                <li><a ng-click="goNext('/orders')" class="">Orders</a></li>
                <li><a ng-click="goNext('/gift')" class="">Gift Card</a></li>
                <div class="nav-footer">
                    <li><label>Settings</label></li>
                    <li ng-show="$root.user.manager"><a ng-click="goNext('/setup')">Setup</a></li>
                    <li ng-show="$root.user.manager"><a ng-click="goNext('/closeOut')">Close Out</a></li>
                    <li><a ng-click="logout()">Logout</a></li>
                </div>
            </ul>
        </aside>
        <section class="main-section">
            <div class="site-wrap">
                <div class="small-12 columns ng-scope" style="padding:0px!important;">
                    <div class="small-12 columns" style="height:100vh; background:#EDEDED; padding:0rem!important;">
                        <div class="section-head">
                            <h5 style="text-align:center;"><strong>Orders</strong></h5>
                            <tabs class="order-details-tabs">
                                <pane
                                        ng-repeat="pane in panes | filter:{includedInTabView:true}"
                                        tab-title="{{pane.name}}"
                                        controller="{{pane.controller}}"
                                        template="{{pane.template}}">
                                </pane>
                            </tabs>
                        </div>
        </section>
        <a class="exit-off-canvas"></a>
    </div>
</div>