<div class="off-canvas-wrap">
    <div class="inner-wrap">
        <nav class="tab-bar">
            <div class="left-small">
                <a class="left-off-canvas-toggle menu-icon"><span></span></a>
            </div>
        </nav>
        <aside class="left-off-canvas-menu" ng-controller="TopBarCtrl">
            <ul class="off-canvas-list">
                <li class="nav-company-information">
                    <div id="posLogo" class="company-logo" style="background-image: url('http://images.deposco.com/{{$root.user.company}}/pos_logo.gif') "></div>
                    {{$root.user.companyName}}<br/>
                    <small><a ng-click="switchUser()">{{$root.user.username}}</a></small>
                </li>
                <li><label>Main Menu</label></li>
                <li><a ng-click="goNext('/checkout')" class="">Checkout
                    <!--<div class="total-text-menu-item" ng-show="$root.currentCheckout.items.length > 0">{{total | currency}}</div>-->
                </a></li>
                <li><a ng-click="goNext('/customers')" class="">Customers</a></li>
                <li><a ng-click="goNext('/products')" class="">Products</a></li>
                <li><a ng-click="goNext('/orders')" class="">Orders</a></li>
                <li><a ng-click="goNext('/gift')" class="">Gift Card</a></li>
                <div class="nav-footer">
                    <li><label>Settings</label></li>
                    <li ng-show="$root.user.manager"><a ng-click="goNext('/setup')">Setup</a></li>
                    <li ng-show="$root.user.manager"><a ng-click="goNext('/closeOut')">Close Out</a></li>
                    <li><a ng-click="logout()">Logout</a></li>
                </div>
            </ul>
        </aside>
        <section class="main-section">
            <div class="site-wrap">
                <div class="small-12 columns ng-scope" style="padding:0px!important;">
                    <div class="small-8 columns" style="height:100vh; background:#EDEDED; padding:0rem!important;">
                        <div class="section-head">
                            <h5 style="text-align:center;"><strong>Products</strong></h5>
                            <div ng-show="products.length > 0" class="small-12 columns">
                                <table class="product-list"> 
                                    <thead>
                                    <tr>
                                        <th width="40%">Product</th>
                                        <th width="10%" style="text-align: center">Image</th>
                                        <th width="25%" style="text-align: center">Location</th>
                                        <th width="12.5%" style="text-align: center">ATP</th>
                                        <th width="12.5%" style="text-align: center">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="product in products | startFrom:currentPage*pageSize | limitTo:pageSize">
                                        <td style="line-height:1rem!important;"><a ng-click="displayProductImage(product)"><strong>
                                            <small><strong>{{::product.description}}</strong></small>
                                        </strong></a><br>
                                            <small><span style="color:#aaa">Price: ${{product.price}}
                                                <small><span ng-show="!product.taxable">(No Tax)</span></small>
                                                <small><span ng-show="product.forceUntaxable">(No Tax)</span></small></span></small>
                                            <br/>
                                            <small><strong>SKU: {{product.sku}}</strong></small><br/>
                                        </td>
                                        <td style="text-align: center;cursor: pointer;"><img ng-click="displayProductImage(product)"
                                                src="{{product.imageUrl == '' ? 'http://images.deposco.com/POS/shared/no_image.png':product.imageUrl}}"
                                                width="150"
                                                height="150"
                                                /></td>
                                        <td style="text-align: center">{{product.store}}</td>
                                        <td style="text-align: center">{{product.atp}}</td>
                                        <td style="text-align: center">
                                            <div ng-show="product.atp > 0">
                                                <a class="product-number" ng-click="addToCheckout(product)" style="margin-bottom: 0px;padding-top: 14px;padding-bottom: 14px;"><!--{{product.sku}} | -->{{product.action}}</a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="small-12 columns" style="padding:0rem;">
                                    <ul class="pagination" role="menubar" aria-label="Pagination">
                                        <li class="arrow">
                                            <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                                                &laquo; Previous
                                            </button>
                                        </li>
                                        <li class="arrow">
                                            <button ng-disabled="currentPage >= products.length / pageSize - 1" ng-click="currentPage=currentPage+1">
                                                Next &raquo;
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-4 columns" style="height:100vh; background:#FFF; padding:0rem!important;">
                        <div class="section-head">
                            <h5 style="text-align:center;"><strong>Search</strong></h5>
                            <div class="row" id="product-search">
                                <div class="small-12 columns">
                                    <div class="row collapse">
                                        <div class="small-10 columns">
                                            <h6><strong>Store Only</strong></h6>
                                        </div>
                                        <div class="small-2 columns">
                                            <div class="switch" style="margin-top:.75rem;">
                                                <input id="idStoreOnly" type="checkbox" ng-model="storeOnly">
                                                <label for="idStoreOnly"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="small-12 columns">
                                    <div class="row collapse">
                                        <div class="small-8 columns">
                                            <input type="text" placeholder="Enter Item SKU or Name" ng-model="searchCriteria" key-bind="searchProducts(searchCriteria)" key="13">
                                        </div>
                                        <div class="small-4 columns">
                                            <a ng-click="searchProducts()" class="button postfix">Search</a>
                                        </div>
                                    </div>
                                </div>
                                <div ng-repeat="category in categories" class="small-12 columns">
                                    <label>{{category.name}}</label>
                                    <select ng-model="category.selectedVariations" multiple ng-options="variation for variation in category.variations | orderBy:orderByValue">
                                    </select>
                                </div>
                                <div class="small-6 columns"></div>
                            </div>
                            <div class="row"> 
                                <div class="small-12 columns" style="text-align:right; margin:0px;">
                                    <a class="button postfix" href="#/checkout">Go to Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <a class="exit-off-canvas"></a>
    </div>
</div>