<div class="off-canvas-wrap">
    <div class="inner-wrap">
        <nav class="tab-bar">
            <div class="left-small">
                <a class="left-off-canvas-toggle menu-icon"><span></span></a>
            </div>
        </nav>
        <aside class="left-off-canvas-menu" ng-controller="TopBarCtrl">
            <ul class="off-canvas-list">
                <li class="nav-company-information">
                    <div id="posLogo" class="company-logo" style="background-image: url('http://images.deposco.com/{{$root.user.company}}/pos_logo.gif') "></div>
                    {{$root.user.companyName}}<br/>
                    <small><a ng-click="switchUser()">{{$root.user.username}}</a></small>
                </li>
                <li><label>Main Menu</label></li>
                <li><a ng-click="goNext('/checkout')" class="">Checkout</a></li>
                <li><a ng-click="goNext('/customers')" class="">Customers</a></li>
                <li><a ng-click="goNext('/products')" class="">Products</a></li>
                <li><a ng-click="goNext('/orders')" class="">Orders</a></li>
                <li><a ng-click="goNext('/gift')" class="">Gift Card</a></li>
                <div class="nav-footer">
                    <li><label>Settings</label></li>
                    <li ng-show="$root.user.manager"><a ng-click="goNext('/setup')">Setup</a></li>
                    <li ng-show="$root.user.manager"><a ng-click="goNext('/closeOut')">Close Out</a></li>
                    <li><a ng-click="logout()">Logout</a></li>
                </div>
            </ul>
        </aside>
        <section class="main-section">
            <div class="site-wrap">
                <div class="small-12 columns ng-scope" style="padding:0px!important;">
                    <div class="small-8 columns" style="height:100vh; background:#EDEDED; padding:0rem!important;">
                        <div class="section-head">
                            <h5 style="text-align:center;"><strong>Cart</strong></h5></div>
                        <div class="small-5 columns" style="padding-right:0;">
                            <input type="text" id="itemNumber" placeholder="Enter Item SKU" ng-model="itemNumber" key-bind="lookupItem(itemNumber)" key="13" ng-keydown="flipIsTyping()" autofocus/>
                        </div>

                        <div class="small-5 columns" style="padding-right:0;" ng-show="isTyping">
                            <input type="text" id="itemNumber2" placeholder="Retype Item SKU" ng-model="itemNumber2" key-bind="lookupItem(itemNumber2)" key="13"/>
                        </div>
                        <div class="small-2 columns" style="padding-left:0px;">
                            <a ng-click="lookupItem(itemNumber)" class="button postfix">Add</a>
                        </div>
                        <div class="table-container" style="height: 33.9rem; float: left; overflow: auto;overflow-x: hidden">
                            <div style="line-height: 100%;" ng-show="$root.currentCheckout.items.length > 0" class="row"> 
                                <div class="small-12 columns" style="line-height:100%;">
                                    <section class="">
                                        <div class="container">
                                            <table class="line-item-table"> 
                                                <thead> 
                                                <tr class="header"> 
                                                    <th style="width: 45%;">Item</th>
                                                    <th ng-show="product.storeId != $root.user.storeId" style="width: 15%; text-align: center;">Fulfillment</th>
                                                    <th colspan="2" style="text-align: center; width: 25%;">Discount</th>
                                                    <th style="text-align: center; width: 15%;">Total</th>
                                                    <th style="text-align: center; width: 15%;" ng-show="allowLineTotalDiscount">OTD Total</th>
                                                </tr>                                         
                                                </thead>                                         
                                                <tbody> 
                                                <tr class="itemsToCheckOut" ng-repeat="product in $root.currentCheckout.items" ng-swipe-left="decrementQuantity(product)" ng-swipe-right="decrementQuantity(product)"> 
                                                    <td ng-click="selectItem(product)"><a ng-click="displayProductImage(product)"><strong>
                                                        <small>{{::product.description}}</small>
                                                    </strong></a><br>
                                                        <small><span style="color:#aaa">Price: {{::product.quantity * product.price | currency}}
                                                <small><span ng-show="!product.taxable">(No Tax)</span></small>
                                                <small><span ng-show="product.forceUntaxable">(No Tax)</span></small></span></small>
                                                        <br/>
                                                        <small>SKU: {{product.sku}}</small><br/>
                                                    </td>
                                                    <td style="text-align: center">
                                                        <!--<div ng-switch on="product.storeId != $root.user.storeId">-->
                                                        <!--<div ng-switch-when="true">-->
                                                        <!--<select class="delivery-method" ng-model="product.pickupOption" ng-change="toggleShippingCost()">-->
                                                        <!--<option value="Pickup" selected>Pickup</option>-->
                                                        <!--<option value="Transfer">Transfer</option>-->
                                                        <!--<option value="Ship">Ship</option>-->
                                                        <!--</select>-->
                                                        <!--</div>-->
                                                        <!--<div ng-switch-default>-->
                                                        <!--In Store-->
                                                        <!--</div>-->
                                                        <!--</div>-->
                                                        <div ng-show="product.storeId != $root.user.storeId">
                                                            <select class="delivery-method" ng-model="product.pickupOption" ng-change="toggleShippingCost()">
                                                                <option value="Pickup" selected>Pickup</option>
                                                                <option value="Transfer">Transfer</option>
                                                                <option value="Ship">Ship</option>
                                                            </select>
                                                        </div>
                                                        <div ng-hide="(product.storeId != $root.user.storeId)">
                                                            In Store
                                                        </div>
                                                    </td>
                                                    <td colspan="2" style="text-align: center">
                                                        <div ng-show="product.name == 'GIFT'">
                                                            <input type="text" ng-model="product.giftNumber" placeholder="Gift Card #" style="margin: 0;text-align: center;width: 100%">
                                                        </div>
                                                        <div ng-show="product.name != 'GIFT'">
                                                            <input type="number" id="half" ng-model="product.discountRate" ng-change="updateTotalWithDC(product, 'rate',false)" ng-blur="updateTotalWithDC(product, 'rate',true)" placeholder="0%" style="margin: 0;text-align: center;width: 50%">
                                                            <input type="number" id="half" round-number ng-model="product.discountTotal" ng-change="updateTotalWithDC(product, 'price',false)" ng-blur="updateTotalWithDC(product, 'price',true)" placeholder="$0" style="margin: 0;text-align: center;width: 50%">
                                                        </div>
                                                    </td>
                                                    <!--<td style="text-align: center">-->
                                                    <!--</td>-->
                                                    <td style="text-align: center">
                                                        <div ng-show="product.name == 'GIFT'">
                                                            <input type="text" ng-model="product.price" placeholder="Gift $" style="margin: 0;text-align: center;" ng-change="updateOnItemPrice()">
                                                        </div>
                                                        <div ng-show="product.name != 'GIFT' && !allowLineTotalDiscount">
                                                            {{product.price - product.totalDiscount | currency}}
                                                        </div>
                                                        <div ng-show="product.name != 'GIFT' && allowLineTotalDiscount">
                                                            <input type="number" ng-model="product.finalPrice" placeholder="Final Price" style="margin: 0;text-align: center;" ng-change="calculateFinalPrice(product,false)" ng-blur="calculateFinalPrice(product,true)">
                                                        </div>
                                                    </td>
                                                    <td style="text-align:center;" ng-show="allowLineTotalDiscount">
                                                        <div ng-show="product.name != 'GIFT' && allowLineTotalDiscount">
                                                            <input type="number" ng-model="product.otdPrice" placeholder="OTD Price" style="margin: 0;text-align: center;" ng-change="calculateByOTDPrice(product,false)" ng-blur="calculateByOTDPrice(product,true)">
                                                        </div>
<!--
                                                        <div class="switch">
                                                            <input id="{{product.id}}" type="checkbox" ng-click="checkOTD($event,product)" >
                                                            <label for="{{product.id}}"/>
                                                        </div>
-->
                                                    </td>

                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="notes">
                            <div class="small-12 columns">
                                <input type="text" class="notes" placeholder="Notes" ng-show="$root.currentCheckout.items.length > 0" ng-model="notes" style="padding-bottom: 2.75rem;
  padding-top: .85rem;">
                            </div>
                        </div>
                    </div>
                    <div class="small-4 columns" style="height:100vh; background:#ffffff; padding:0rem!important;">
                        <a ng-hide="$root.currentCheckout.items.length > 0" id="clear-cart" style="padding-left: 1em;padding-right: 1em; width: 100%; color: #999; cursor: default;">Cancel</a>
                        <a ng-hide="$root.currentCheckout.items.length > 0" id="save-cart" style="padding-left: 1em;padding-right: 1em; width: 100%; color: #999; cursor: default;">Save</a>
                        <a ng-show="$root.currentCheckout.items.length > 0" ng-click="resetTrx()" id="clear-cart" style="padding-left: 1em;padding-right: 1em; width: 100%">Cancel</a>
                        <a ng-show="$root.currentCheckout.items.length > 0" ng-click="saveTrx()" id="save-cart" style="padding-left: 1em;padding-right: 1em; width: 100%">Save</a>

                        <div class="section-head">
                            <h5 style="text-align:center;"><strong>Sale</strong></h5>
                        </div>
                        <div ng-hide="$root.currentCheckout != null && $root.currentCheckout.customer.id > 1">
                            <div class="small-8 columns" style="padding-right:0px;">
                                <input type="text" placeholder="Customer Phone #" ng-model="phoneNumber" key-bind="lookupCustomer(phoneNumber)" key="13">
                            </div>
                            <div class="small-4 columns" style="padding-left:0px;">
                                <a ng-click="lookupCustomer(phoneNumber)" class="button postfix">Search</a>
                            </div>
                            <div class="small-12 columns">
                                <a class="button postfix" href="#/new_customer">Create Customer</a>
                            </div>
                        </div>
                        <div class="small-12 columns">
                            <table id="customer-details" ng-show="$root.currentCheckout != null && $root.currentCheckout.customer.id > 0" ng-swipe-left="detachCustomerFromTrx()"
                                   ng-swipe-right="detachCustomerFromTrx()">
                                <tr>
                                    <td style="width:80%; padding:0;">
                                        <a ng-click="viewCustomerDetail($root.currentCheckout.customer.id)"><div>
                                            <label class="inline" style="font-size: 0.8125rem; padding:0px; margin-bottom: 0rem;">
                                                <b><span style="color:#4aa8dd">{{$root.currentCheckout.customer.firstName}}
                                                    {{$root.currentCheckout.customer.lastName}}</span></b><br/>
                                    <span style="font-size:0.75rem;">{{$root.currentCheckout.customer.phoneNumber | tel}}<br>
                                    {{$root.currentCheckout.customer.email}}<br>
                                    <b>Store Credit: <span>{{$root.currentCheckout.customer.storeCredit | currency}}</span></b>
                                    </span>
                                            </label>
                                        </div></a>
                                    </td>
                                    <td style="width:20%; padding: 0;">
                                        <img class="button postfix" id="add-customer" src="/pos-des/svg/fi-minus-white.svg" width="17" height="17" style="float:right;" align="center"
                                             ng-click="detachCustomerFromTrx()">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="row" ng-show="$root.currentCheckout.items.length > 0">
                            <div class="small-12 columns" style="padding:0px;">
                                <div class="panel callout" id="totals" style="margin:0rem 1rem 1rem 1rem;">
                                    <div class="row">
                                        <div class="small-6 columns">
                                            Subtotal
                                        </div>
                                        <div class="small-6 columns" style="text-align:right">{{subtotal | currency}}</div>
                                    </div>
                                    <div class="row" style="border-top: 1px solid #E5E5E5; color:#ed6454;">
                                        <div class="small-6 columns">
                                            Discount <small><span style="color: #ed6454;">({{totalDiscount / subtotal * 100 | number: 0}}%)</span></small>
                                        </div>
                                        <div class="small-6 columns" style="text-align:right">
                                            <span>{{totalDiscount | currency}} </span>
                                        </div>
                                    </div>
                                    <div class="row" style="border-top: 1px solid #E5E5E5; color:#6292ed;">
                                        <div class="small-6 columns">
                                            Discounted Total
                                        </div>
                                        <div class="small-6 columns" style="text-align:right">{{subtotal-totalDiscount | currency}}</div>
                                    </div>
                                    <div class="row" style="border-top: 1px solid #E5E5E5">
                                        <div class="small-6 columns">State Tax</div>
                                        <div class="small-6 columns" style="text-align:right">{{tax | currency}}
                                        </div>
                                    </div>
                                    <div class="row" style="border-top: 1px solid #E5E5E5" ng-show="cityTax > 0">
                                        <div class="small-6 columns">City Tax</div>
                                        <div class="small-6 columns" style="text-align:right">{{cityTax | currency}}
                                        </div>
                                    </div>
                                    <div class="row" style="border-top: 1px solid #E5E5E5; color: #4e8fc7;" ng-show="captureShippingCost == true">
                                        <div class="small-6 columns">
                                            <a ng-click="calculateCost()">Shipping</a>
                                        </div>
                                        <div class="small-6 columns" style="text-align:right">
                                            <a id="shipping-cost" style="margin-top:1rem;" ng-model="shippingCost">{{shippingCost | currency}}</a>
                                        </div>
                                    </div>
                                    <div class="row" ng-show="paidAmount > 0" style="border-top: 1px solid #E5E5E5">
                                        <div class="small-6 columns">
                                            Paid
                                        </div>
                                        <div class="small-6 columns" style="text-align:right">
                                            <span>{{paidAmount | currency}}</span>
                                        </div>
                                    </div>

                                    <div class="row" style="border-top: 1px solid #E5E5E5; color:#6cbd7d!important;">
                                        <div class="small-6 columns">
                                            Total
                                        </div>
                                        <div class="small-6 columns" style="text-align:right;">{{total | currency}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" id="charge" ng-show="$root.currentCheckout.items.length > 0">
                            <div class="small-12 columns" id="charge-button">
                                <div class="small-12 columns" id="current-img" style="padding:0">
                                    <div ng-show="currentImgUrl != ''">
                                        <center><img src="{{currentImgUrl}}"/></center>
                                    </div>
                                    <div class="row" ng-show="warningMsg != null">
                                        <div class="small-12 columns" style="text-align: center">
                                            <label><span
                                                    style="color: #ed6454; font-weight: bold; text-align: center;   font-size: 1rem; -webkit-font-smoothing: antialiased;!important;">{{warningMsg}}</span></label>
                                        </div>
                                    </div>
                                </div>
                                <a class="button" id="checkout-button" ng-click="startCheckoutProcess()" style="padding-left: 1em;padding-right: 1em; width: 100%">
                                    <div class="charge-text">Charge</div>
                                    <div class="total-text">{{total | currency}}</div>
                                </a>
                            </div>
                        </div>
                        <div class="row" id="charge-disabled" ng-hide="$root.currentCheckout.items.length > 0">
                            <div class="small-12 columns">
                                <a class="button" id="disabled" style="padding-left: 1em;padding-right: 1em; width: 100%">
                                    <div class="charge-text">Charge</div>
                                    <div class="total-text" style="text-align:right;">$0.00</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <a class="exit-off-canvas"></a>
    </div>
</div>